.download-section {
  text-align: center;
  margin: $lineheight*2 auto;
  width: 90%;
  max-width: 58rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sdk-token {
    margin-top: $lineheight*2;
    font-size: 1.1em;
    color: darken($grey-dark, 10%);

    p {
      margin-bottom: 1rem;
    }

    :last-child {
      margin-bottom: 0;
    }

    label {
      display: block;
      font-size: 1em;
      color: inherit;
      font-weight: 300;
      margin-bottom: .5rem;
    }

    small {
      font-size: .9em;
    }

    .sdk-token__field {
      font-weight: 300;
      color: #555;
      font-size: 1.8em;
      text-align: center;

      &:focus {
        background-color: transparent;
        border: 0;
        box-shadow: none;
      }
    }
  }

  .coming-soon {
    h2, p {
      opacity: .7;
    }

    a {
      cursor: default;
      pointer-events: none;
      position: relative;

      &::after {
        content: 'Coming soon';
        display: block;
        position: absolute;
        top: 35%;
        left: calc(50% - 63px);

        color: #fff;
        background-color: rgba(#000, .77);
        border-radius: 3em;
        padding: 0 0.8em;
        font-size: 1.3em;
        font-weight: 300;
      }
    }

    img {
      -webkit-filter: grayscale(100%) brightness(140%);
      opacity: 0.3;
    }
  }

  .blank__flows {
    @include list-reset;
    display: flex;
    justify-content: center;

    // Bump SDK images a bit to the right. Visually appealing.
    &--sdk figure img {
      position: relative;
      left: 8px;
      top: -10px;
    }

    h2 {
      margin-bottom: 0;
      font-size: to_rem(20);
      color: $text-color;
    }

    a {
      display: block;
      padding: 2rem 1rem;
      color: $grey-dark;

      > :last-child {
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: none;
        color: darken($grey-dark, 10%);

        .logo--invision {
          fill: #323A45;
        }

        .logo--marvel {
          fill: rgb(36, 147, 232);
        }

        .logo--osx {
          fill: #222;
        }

        .logo--ios,
        .logo--appletv {
          fill: #555;
        }

        .logo--android {
          fill: #A4C639;
        }
      }
    }

    li {
      border-radius: 4px;
      background-color: rgba(#fff, .8);
      border: 1px solid $grey-light;
      transition: background-color .15s ease;

      &:hover {
        background-color: #fff;
      }
    }

    figure {
      height: 9rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }

      .sep {
        font-size: 3em;
        font-weight: 300;
        color: #d8d8d8;
        transform: rotate(-10deg) scaleY(1.2);
        display: inline-block;
        margin: 0 -15px;
      }
    }

    .flow__logo {
      max-width: 100%;
      max-height: 45px;
      fill: $grey-dark;
      transition: fill .15s ease-out;
      flex: 1;

      &.logo--osx,
      &.logo--ios,
      &.logo--appletv {
        max-height: 35px;
      }
    }

    p {
      margin: 0;
    }
  }

  footer {
    margin-top: $lineheight*2;
    font-size: 1.1em;
    font-weight: 300;

    a {
      color: $text-color;
      @include underline($bg: $background-webapp, $color: $text-color, $offset: .1);
    }
  }

  @include handheld {
    h1 {
      font-size: 7vw;
    }
  }

  @include larger-than(870px) {
    .blank__flows {
      li {
        flex-basis: 17rem;
      }
    }
  }

  @include smaller-than(870px) {

    h1 {
      margin-bottom: 2rem;
    }

    .blank__flows {
      flex-direction: column;
      align-items: center;

      li {
        max-width: 17rem;
        width: 95%;
        margin-bottom: $lineheight;
        flex: 1 0 auto;
      }
    }
  }
}
