.get-started-section {
  text-align: center;
  padding: $lineheight*3 10%;

  h1 {
    margin-bottom: 0;
  }

  h1 + p {
    margin: $lineheight / 3 0 $lineheight*2;
    font-size: 1.1em;
  }

  @include smaller-than(600px) {
    h1 {
      font-size: 6vw;
    }
  }
}
