/* =TIMELINE MARKERS

For comments and other stuff.
--------------------------------------------- */

.player__timeline__events {
  $height: 20px;

  height: $height;
  margin-top: -$height - 5px;
  margin-bottom: 5px;
  position: relative;
  transform-origin: center bottom;
  transition: opacity .4s ease-out,
              transform .4s ease-out;

  &.loading {
    opacity: 0;
    transform: translateY(5px);
  }

  .player__timeline__event--view:hover {
    background-image: linear-gradient(rgba(#fff, .6), rgba($grey-dark, .7));
  }

  &:hover {
    .player__timeline__event--view {
      transform: translateX(-50%) scale(1.5);
    }
  }
}

.event__annotation {
  font-size: to_em(11);
  color: lighten($timeline-event-color, 20%);
  transition: color .2s ease-out;
}

.player__timeline__event {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);    // Bump it a bit to the left, in order to center it over view change.

  .event__symbol {
    color: $timeline-event-color;
    font-size: 1rem;
    display: inline-block;
    transition: color .2s ease-out;

    .icon {
      vertical-align: initial;  // Icons are a bit off.
    }

    &--active {
      color: #fff;
    }
  }

  &.current .event__symbol {
    color: rgba(#fff, .8);
  }

  &:hover {
    .player__timeline__event--interactable .event__symbol,
    .event__annotation {
      color: lighten($timeline-event-color, 35%);
    }
  }

  .event__annotation {
    position: absolute;
    right: -40%;
    top: 2px;
    cursor: default;
    user-select: none;
  }
}

.player__timeline__event--view {
  bottom: 5px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  transform-origin: center bottom;
  background-image: linear-gradient(rgba($grey-dark, .7), rgba($grey-dark, .5));
  transition: background-image .2s ease-out,
              transform 0.3s cubic-bezier(0.38, 1.07, 0.57, 1.43);
}

.player__timeline__event--comment {
  height: 20px;
  width: 20px;

  // @override
  .dropdown__trigger {
    cursor: pointer;
  }
}

.player__timeline__event--pin {
  width: 20px;
  height: 20px;
  text-align: center;
}

.player__timeline__event .event__annotation {
  right: -10%;
  top: -1px;
}

.player__timeline__event--pin .event__symbol {
  color: #fff;
  font-size: 1.2rem;
}
