/* =DROPDOWN IN TIMELINE
--------------------------------------------- */

.segment-dropdown {
  $width: 250px;
  $segment-dropdown-spacing: 4px;

  padding: 0;
  box-shadow: rgba(#000, .3) 0 -1px 4px,
              rgba(#000, .1) 0 5px 10px;
  width: $width;
  // Grey border is just annoying here.
  border: 0;
  color: darken($grey-dark, 10%);

  // We position this dropdown *manually* in the middle
  // of the segment, thus !important values are okay here,
  // in order to override inline attributes. Why? Because.
  // top: -42px !important;
  left: calc(50% - #{$width / 2}) !important;
  bottom: 44px !important;
  top: auto !important;

  .settings-form__section--slim {
    margin-bottom: 0.5rem;
    margin-right: 0.8rem;
  }

  // Full width btn
  &__btn {
    width: 100%;
    padding-bottom: .5em;
    padding-top: .5em;
    font-size: 1.1em;

    &.mode--link {
      padding: .5em;
      padding-top: calc(.5em + #{$segment-dropdown-spacing});
    }
  }

  label {
    font-weight: normal;
    font-size: 1em;
    // Disable pointer cursor, might be confusing when placed with buttons.
    cursor: default;

    .help-link {
      position: relative;
      top: -1px;
    }
  }

  label.select {
    margin: 5px 0;
    width: 100%;
  }

  &__inner {
    padding: $segment-dropdown-spacing;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin: $segment-dropdown-spacing 0;
    padding: 0 $segment-dropdown-spacing;

    .close-cross {
      top: 0;
      position: relative;
      text-align: inherit;
      right: 4px;

      &::before,
      &::after {
        top: 6px;
      }
    }

    .segment-dropdown__nav__control {
      display: block;
      color: #888;
      width: 1.5em;
      transition: color .1s ease-out;

      &:last-child {
        text-align: inherit;
      }

      .icon {
        position: relative;
        transform: translateZ(0);
        top: -1px;
        font-size: 1.1em;
      }

      &:hover {
        text-decoration: none;
        color: #444;
      }
    }

    &__title {
      flex: 1;
      font-size: 1.1em;
      text-align: center;
      color: lighten($text-color, 20%);
    }

    label.segment-dropdown__nav__title {
      font-size: 1em;
      color: inherit;
    }
  }

  &__help {
    padding: 5px $segment-dropdown-spacing*2;
    font-size: .9em;
    line-height: 1.4;

    .icon {
      vertical-align: baseline;
      color: #afafaf;
      position: relative;
      top: 1px;
      margin-right: 2px;
    }

    .help-link {
      margin: 0 2px;
      position: relative;
      top: -1px;
      font-size: 1.1em;
    }
  }

  // After creating a new highlight
  &__success-pane {

    p {
      margin-bottom: $segment-dropdown-spacing;
    }

    &__msg {
      padding: .75em;
      font-size: 1.1em;
      text-align: center;
      color: $text-color;
    }

    .emoji {
      position: relative;
      top: 1px;
      font-size: 1.2em;
      display: inline-block;
      transform: scale(0);
    }
  }

  &__actions {
    @include list-reset;
    display: flex;
    text-align: center;
    font-size: 1.1em;
    // Use same border radius as dropdown, but cut
    // off any overflows.
    border-radius: 4px;
    overflow: hidden;

    li {
      flex: 1;

      &:not(:last-child) {
        border-right: 1px solid darken($grey-light, 5%);
      }
    }

    .segment-dropdown__actions__close {
      flex: 0 0 15%;
      position: relative;

      a {
        font-size: .8rem;
        padding: 0;
        width: 100%;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .close-cross {

        &::before,
        &::after {
          top: 17px;
          left: 10px;
          height: 2px;
          width: 38%;
        }
      }
    }

    a {
      display: block;
      padding: .4rem;
      color: lighten($text-color, 10%);

      &:hover {
        color: $text-color;
        text-decoration: none;
        background-color: #f7f7f7;
      }

      &:active {
        background-color: #e8e8e8;
      }
    }
  }

  // The Share section

  &__share {
    padding: $segment-dropdown-spacing;

    input[type="text"] {
      font-size: to_rem(10);
      width: 100%;
      margin: 0;
      border-color: #cdcdcd;
    }

    .btn {
      font-size: 1em;
      padding: 0.3em 0;
      width: 26px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // Forms

  &__form {

    .form-label {
      margin-bottom: 0;
      color: $grey-dark;
      font-size: to_rem(12);
    }

    input[type="text"],
    select {
      font-size: 1.1em;
      width: 100%;
      color: $text-color;
    }

    select {
      cursor: pointer;
    }

    &__section {
      padding: $segment-dropdown-spacing $segment-dropdown-spacing*2;
      margin-bottom: $segment-dropdown-spacing;
    }

    &__section--border {
      border-bottom: 1px solid #ececec;
    }

    &__submit {
      padding: $segment-dropdown-spacing;
    }
  }

  // New project form
  &__add-form {
    display: flex;
    margin: 5px 0;

    input[type="text"] {
      flex: 1;
    }

    .new-project__cancel-btn {
      $color: #ccc;

      color: $color;
      position: relative;
      top: 2px;
      transition: color .15s ease;

      &:hover {
        color: darken($color, 20%);
      }

      .icon {
        transform: rotate(45deg);
      }
    }
  }
}
