// The sliding bar beneatch the timeline track

.player__timeline__tools {
  height: $player-stage-bottom;
  position: absolute;
  bottom: -$player-stage-bottom;
  left: 0;
  right: 0;
}

.player__timeline__tips {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 4px;
  z-index: 999;
  font-size: .9em;
  transition: color .2s ease,
              transform .2s ease;
  color: $grey-dark;
  opacity: .7;

  kbd {
    background-color: transparent;
    border: 0;
    color: #fff;
    display: inline;
    box-shadow: none;
    font-size: 1em;
    padding: 0;
    top: auto;
  }

  &__moved-away {
    transform: translate3d(0, 30px, 0);
    color: $text-color;

    kbd {
      color: $text-color;
    }
  }
}

.player__timeline__timestamp {
  position: absolute;
  height: 100%;
  z-index: 12;
  top: 4px;
  width: 60px;
  transform: translateX(calc(-27%));
}

.player__timeline__timestamp--shifted {
  // Move to right. Maaagic numbers :D
  transform: translateX(calc(-85%));
}

.timeline__timestamp__trigger {
  display: block;
  width: 100%;
  text-align: right;
  transform-origin: 85% center;
  transition: opacity .2s .1s ease-out,
              transform .2s .1s ease;

  &--hide {
    opacity: 0;
    transform: perspective(1000px) translateZ(-400px);
  }

  &--show {
    opacity: 1;
    transform: translateZ(0);
    transition: opacity .2s .1s linear,
                transform .3s .1s ease;
  }

  &:hover {
    text-decoration: none;

    .icon {
      color: #eee;
    }
  }

  &.locked {
    .timeline__timestamp__time,
    .icon {
      color: #eee;
    }
  }

  .icon,
  .timeline__timestamp__time {
    transition: color .2s;
  }

  .icon-chevron-small-up {
    position: absolute;
    top: -4px;
    color: #777;
    right: 0;
    font-size: 11px;
  }

  .icon-scissors {
    color: $grey-dark;
    position: relative;
  }
}

.timeline__timestamp__time {
  color: $grey-dark;
  font-size: to_rem(12);
}
