/* =PLAYER COMMENTS
--------------------------------------------- */

.player-notes {
  margin-top: $lineheight;
  position: relative;

  > header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $lineheight;
    align-items: center;

    @include handheld {
      padding-left: $player-side-padding;
      padding-right: $player-side-padding;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    .player-action-btn {
      font-size: .9em;

      &:first-child {
        margin-right: .5rem;
      }

      .action__icon .icon {
        margin-right: 5px;
        font-size: 1em;
      }
    }
  }

  .player-subscribe-btn {
    font-size: .9em;

    &:hover {
      .icon {
        color: darken(desaturate($comp-teal, 10%), 10%);
      }
    }

    .icon {
      margin-right: 5px;
      position: relative;
      top: -1px;
      color: $grey-dark;
    }

    &.active {
      .icon {
        color: darken(desaturate($comp-teal, 10%), 10%);
      }
    }
  }

  .player-notes__title {
    @include player-heading;
    margin: 0;

    .icon-comment {
      width: 48px;
      margin-right: 14px;
      font-size: 1.1rem;
    }

    .player-export-comments {
      line-height: 1;
      font-size: .85em;
    }

    @include handheld {
      .icon-comment {
        width: 28px;
        margin-left: -13px;
        margin-right: 5px;
      }
    }
  }

  .no-content {
    color: $grey-dark;

    &--posts {
      font-size: to_rem(14);
      text-align: center;

      p {
        margin-bottom: $lineheight / 2;
      }

      .player-subscribe-btn {
        padding: 0;

        &:hover,
        &:active {
          background-color: transparent;
        }

        .icon {
          display: none;
        }
      }
    }
  }
}

.player-notes-list {
  @include list-reset;
  margin-bottom: 0;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    background-color: $player-border-color;
    left: 23px;
    top: -20px;
    bottom: 0;
  }

  @include handheld {
    &::before {
      left: 14px;
    }
  }

  .comments__show-all {
    position: relative;
    margin-top: 5px;
    background-color: $player-background;
    text-align: center;

    @include larger-than($handheld) {
      display: none;
    }

    &__btn {
      display: block;
      color: $text-color;
      font-weight: bold;
      padding: 1em 5%;
      -webkit-tap-highlight-color: transparent;

      .icon {
        position: relative;
        top: -1px;
      }

      &:hover, &:active {
        border-radius: 4px;
        background-color: rgba(#fff, .8);
        text-decoration: none;
      }
    }
  }
}


.player-note {
  margin-bottom: $lineheight / 2;
  position: relative;


  &.mark--highlight,
  &.mark--new {
    .player-comment__content {
      box-shadow: rgba($comp-yellow, .7) 0 0 3px;
      border-bottom-color: rgba(darken($comp-yellow, 20%), .5);
    }
  }

  &::before,
  .player-comment__avatar .avatar {
    box-shadow: $player-background 0 0 0 3px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include handheld {
    margin-bottom: 0;
  }
}

.player-comment {
  display: flex !important; // Due to Momentum setting to 'list-item'.

  $padding: 1rem;

  @include handheld {
    &:first-child .player-comment__content {
      border-top-width: 1px;
    }
  }

  &__arrow {
    $size: 10px;

    position: absolute;
    z-index: 10;
    left: -$size;
    top: 8px;
    @include arrow($direction: left, $size: $size, $color: $player-border-color, $equilateral: false);

    &::before {
      content: '';
      position: absolute;
      top: -$size - 1px;
      left: 1px;
      z-index: 9;
      @include arrow($direction: left, $size: $size+1px, $color: #fff, $equilateral: false);
    }

    @include handheld {
      display: none;
    }
  }

  input.player-comment__permalink {
    width: 200px;
    margin: 0;
  }

  &__permalink-close {
    display: inline-block;
    padding: 0 3px;
    font-size: 12px;
  }

  &__avatar {
    margin-right: 18px;

    .avatar {
      position: relative;
      top: -5px;
      background-color: $player-background;
    }

    @include handheld {
      display: none;

      // Keeping this for now..
      position: absolute;
      left: .5rem;
      top: .5rem;
      z-index: 10;
      transition: transform .5s;

      &.is-deleting {
        transform: translate(39vw, -100%) scale(1.2);
      }

      .avatar {
        top: 0;
        box-shadow: none;
      }
    }
  }

  &__content {
    position: relative;
    border-radius: 3px;
    border: 1px solid $player-border-color;
    background-color: #fff;
    transition: opacity .3s ease-out,
                -webkit-filter .3s ease-out,
                transform .5s cubic-bezier(0.160, 0.975, 0.280, 1.005),
                box-shadow 2s ease-out,
                border-color 2s ease-out;

    &.is-deleting {
      opacity: .1;
      pointer-events: none;

      @include larger-than($handheld) {
        opacity: .4;
        -webkit-filter: blur(2px);
        transform: perspective(1000px) translateZ(-50px);
      }
    }

    &.is-editing {

      .player-comment__actions {
        opacity: 1;
        top: auto;
        right: 7px;

        .btn {
          padding: .2em .5em;
        }
      }
    }

    @include handheld {
      border-width: 0 0 1px;
      border-color: lighten($player-border-color, 5%);
      border-radius: 0;
    }
  }

  &__meta {
    padding: $padding / 2 $padding;
    padding-right: .6rem;

    .icon-link {
      position: relative;
      top: -1px;
    }

    @include handheld {
      font-size: .9em;
    }
  }

  &__footer {
    margin-top: 0;
    padding: 0 1rem .5rem;
  }

  &__actions {
    // Pixel fucking.
    position: relative;
    top: -3px;
    right: -3px;
    transition: opacity 0.15s ease-out;
    opacity: .5;
    // Prevent jitter in Safari
    transform: translateZ(0);

    &:hover {
      .player__comment__action {
        opacity: .3;
      }
    }

    .player__comment__action {
      width: 18px;
      transition: opacity 0.3s ease-out;
      display: inline-block;
      text-align: center;
      height: 21px;
      color: $grey-dark;
      // Prevent jitter in Safari
      transform: translateZ(0);

      &:hover {
        opacity: 1;
      }

      @include handheld {
        .icon {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__reply {
    .icon {
      font-size: 1.3em;
    }
  }

  &__remove {
    &:hover {
      color: $negative;
    }

    &:active {
      color: darken($negative, 10%);
    }
  }

  @include larger-than($handheld) {
    &:hover &__actions {
      opacity: 1;
    }
  }

  &__confirm-delete {
    position: absolute;
    z-index: 10;
    left: 48px + 18px;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex !important; // Due to Momentum animation helper setting 'block'.
    flex-direction: column;
    justify-content: flex-start;
    padding: $padding / 2;

    p {
      margin: 0;

      &:first-child {
        padding-bottom: $lineheight / 2;
      }
    }

    .btn {
      font-size: .9rem;
    }

    @include handheld {
      left: 0;
      top: 10%;

      .btn {
        display: block;
        margin-bottom: 5px;
        font-size: 1rem;
      }
    }
  }

  &__confirm-text {
    font-weight: bold;
  }

  &__text {
    padding: 0 $padding $padding;
    padding-right: 3rem;
  }

  // Textarea for updating comment.

  &__edit-text {
    width: calc(100% - 2rem);
    margin: 0 1rem 1rem;
    padding-bottom: 2rem;
  }

  // Downsize large codeblocks a bit.

  pre {
    font-size: to_rem(12);
    padding: $lineheight / 2;
  }
}

.player-event {
  $size: 11px;

  padding-left: 48px + 18px;
  position: relative;

  &::before {
    border-radius: 100%;
    background-color: #000;
    opacity: .8;
    display: block;
    content: '';
    position: absolute;
    left: 24px - ($size / 2);
    width: $size;
    height: $size;
    top: 3px;
    transition: transform .3s cubic-bezier(0.38, 1.07, 0.57, 1.43),
                opacity .3s ease-out;
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scale(1.2);
    }

    .player-event__time {
      color: darken($grey-dark, 20%);
    }
  }

  &__time {
    color: $grey-dark;
    margin-right: 5px;
    transition: color .15s ease-out;
  }

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  @include handheld {
    padding-left: 48px;

    &::before {
      left: 10px;
    }
  }
}
