/* =STYLEGUIDE
--------------------------------------------- */

.styleguide {

  .styleguide__to-top {
    position: fixed;
    top: 2rem;
    right: 2rem;
    transform: translate(0, -10px);
    opacity: 0;
    color: $grey-dark;
    transition: opacity .15s ease,
                transform .2s cubic-bezier(0.49, 1.11, 0.46, 1.42);

    &.show {
      opacity: 1;
      transform: none;
    }

    .icon {
      position: relative;
      top: -1px;
      margin-right: 3px;
    }
  }

  .styleguide__header {
    text-align: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: to_rem(80);
      line-height: 1.25;

      span {
        display: block;

        &:first-child {
          font-weight: normal;
          font-style: italic;
          font-size: to_rem(38);
        }

        &:last-child {
          font-weight: normal;
          font-size: to_rem(62);
        }
      }

      @include handheld {
        font-size: to_rem(56);

        span {
          &:last-child {
            font-size: to_rem(42);
          }
        }
      }
    }
  }

  .table-of-contents {
    margin: 0 auto $lineheight*5;
    max-width: 40rem;
    display: block;

    h2 {
      text-align: center;
    }

    ul {
      @include list-reset;
      column-count: 4;
    }

    a {
      font-size: 1.4em;
      font-family: $serif;
    }
  }

  main {
    margin: 0 auto $lineheight*2;
    width: 90%;

    > section {
      margin: 0 auto $lineheight*5;
      max-width: 40rem;

      &#icons {
        max-width: none;
      }

      section {
        margin-top: $lineheight*2;

        > h2:first-child {
          text-align: center;
        }
      }

      > h1:first-child {
        text-align: center;
        margin-bottom: $lineheight*5;
      }
    }
  }

  .styleguide__container {
    border-radius: $border-radius;
    padding: 1rem;
  }

  .container--dark {
    background-color: $grey-dark;
  }

  .arrow-box {
    $color: $comp-blue;
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid $color;

    &--top {
      @include arrow-box($position: top, $color: $color, $size: 10px);
    }
    &--right {
      @include arrow-box($position: right, $color: $comp-green, $size: 15px);
      border-color: $comp-green;
    }
    &--bottom {
      @include arrow-box($color: $color, $size: 20px);
    }
    &--left {
      @include arrow-box($position: left, $color: $color, $size: 8px, $padding: 0);
    }
  }

  #colours {
    > div {
      margin-bottom: $lineheight;
      color: #fff;

      section {
        margin-top: 0;
      }

      section:not(:last-of-type) {
        margin-bottom: $lineheight*2;
      }

      p {
        padding: 1rem;
        border-radius: $border-radius;
        margin: 0;
      }

      section p:not(:last-of-type) {
        margin-bottom: $lineheight / 2;
      }
    }

    code {
      background: none;
      padding: 0;
      font-size: inherit;
      border: 0;
      color: inherit;
    }

    .color-accent {
      background-color: $accent;
    }

    .color-dark {
      background-color: $dark;
    }

    .color-light {
      border: 1px solid #e2e2e2;
      background-color: $light;
      color: $text-color;
    }

    .color-grey {
      background-color: $grey;
      color: $text-color;
    }

    .color-grey-dark {
      background-color: $grey-dark;
    }

    .color-grey-light {
      background-color: $grey-light;
      color: $text-color;
    }

    .color-off-white {
      background-color: $off-white;
      color: $text-color;
    }

    .color-negative {
      background-color: $negative;
    }

    .color-positive {
      background-color: $positive;
    }

    .color-comp1 {
      background-color: $comp-blue;
    }

    .color-comp1-light {
      background-color: $comp-blue-light;
      color: $comp-teal;
    }

    .color-comp2 {
      background-color: $comp-green;
    }

    .color-comp3 {
      background-color: $comp-yellow;
    }

    .color-comp4 {
      background-color: $comp-teal;
    }

    .color-comp4-dark {
      background-color: $comp-teal-dark;
    }
  }

  #bars {
    .bar {
      margin-bottom: $lineheight*2;
    }
  }

  #icons {
    .icon {
      position: relative;
      top: -5px;
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }

    .icon-list {
      @include list-reset;
      text-align: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      code {
        font-size: to_rem(11);
        display: block;
      }

      li {
        flex-basis: 160px;
        margin: 0 0 $lineheight*2;
        margin-right: .5rem;
      }
    }
  }

  .has-separator {
    @include has-separator($width: 10rem, $spacing: 1);
  }
}
