/*
BACKDROP
----------------------------------------------------------------*/

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1003;
  transition: opacity .1s ease;
  overflow-y: auto;
  @include center(all);

  &--activated {
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba($comp-teal-dark, .5);
  }

  &.in {
    opacity: 1;

    .Modal {
      opacity: 1;
      transform: none;
    }
  }

  &.off-screen,
  &.out {
    opacity: 0;
  }
}
