/* =BUTTONS
--------------------------------------------- */
$button-border-radius: 4px;

@mixin disabled($background, $foreground: #fff) {
  background-color: rgba(lighten(desaturate($background, 20%), 10%), .8);
  color: rgba($foreground, .7);
  box-shadow: none;
}

@mixin focused($base-color) {
  box-shadow: #fff 0 0 0 2px,
              rgba($base-color, .3) 0 0 0 4px;
}

/* A regular fucking button */
.btn {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  position: relative;
  text-decoration: none;
  user-select: none;

  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  font: bold 1em/1.4 $sans-serif;
  text-align: center;
  padding: .6em 1.2em;

  border: 0;
  border-radius: 3em;

  color: #fff;
  background-color: $btn-color;

  box-shadow: rgba($btn-color, .3) 0 3px 16px;

  transition: background-color .2s ease-out,
              box-shadow .2s ease-out;

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: lighten(saturate($btn-color, 8%), 1%);
    box-shadow: rgba(saturate($btn-color, 10%), .4) 0 3px 20px;
  }

  &:active {
    transition: none;
    background-color: darken($btn-color, 10%);
    box-shadow: none;
    color: rgba(#fff, .75);
  }

  &[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .35;
    pointer-events: none;
    filter: grayscale(.5);

    &:hover,
    &:active {
      background-color: $btn-color;
    }
  }

  .spinner-circular {
    position: relative;
    top: -.4em;
    margin-right: .25em;
    font-size: .5em;
  }

  &.mode--primary {
    background-color: $btn-color-primary;
    box-shadow: rgba($btn-color-primary, .3) 0 3px 16px;
    font-weight: bold;

    &:hover,
    &:focus {
      background-color: saturate($btn-color-primary, 10%);
      box-shadow: rgba(saturate($btn-color-primary, 10%), .4) 0 3px 20px;
    }

    &:active {
      background-color: darken($btn-color-primary, 8%);
      box-shadow: none;
    }
  }

  &.mode--attention {
    font-weight: bold;
    background-color: $btn-color-attention;
    box-shadow: rgba($btn-color-attention, .3) 0 3px 16px;

    &:hover,
    &:focus {
      background-color: saturate($btn-color-attention, 10%);
      box-shadow: rgba(saturate($btn-color-attention, 10%), .4) 0 3px 20px;
    }

    &:active {
      background-color: darken($btn-color-attention, 8%);
      box-shadow: none;
    }
  }

  &.mode--danger {
    font-weight: bold;
    background-color: $btn-color-danger;
    box-shadow: rgba($btn-color-danger, .3) 0 3px 16px;

    &:hover,
    &:focus {
      background-color: lighten(saturate($btn-color-danger, 20%), 2%);
      box-shadow: rgba(saturate($btn-color-danger, 10%), .4) 0 3px 20px;
    }

    &:active {
      background-color: darken($btn-color-danger, 6%);
      box-shadow: none;
    }
  }

  &.mode--dark {
    background-color: $comp-teal-dark;
    box-shadow: rgba($comp-teal-dark, .1) 0 3px 15px;

    &:hover,
    &:focus {
      background-color: lighten(saturate($comp-teal-dark, 10%), 5%);
    }

    &:active {
      color: rgba(#fff, .8);
      background-color: darken($comp-teal-dark, 5%);
    }
  }

  &.mode--light {
    background-color: darken($light, 3%);
    color: lighten($text-color, 10%);
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: $light;
    }

    &:active {
      background-color: darken($light, 5%);
    }
  }

  &.mode--transparent {
    background: transparent;
    color: $text-color;
    transition: color .2s ease-out;
    box-shadow: none;

    &:active,
    &:focus,
    &[disabled] {
      background-color: transparent;
      color: inherit;
      box-shadow: none;
    }

    &:hover {
      background-color: transparent;
      color: lighten($text-color, 15%);
    }
  }

  &.mode--link {
    color: $comp-blue;
    background: transparent;
    padding: 0;
    box-shadow: none;

    .custom-icon--arrow-right {
      margin-left: .5rem;
    }

    .icon {
      top: 0;
    }

    &:active,
    &:focus {
      background-color: transparent;
      color: darken($comp-blue, 12%);
      box-shadow: none;
    }

    &:active {
      transform: perspective(1px) translateZ(-.04px);
    }

    &:focus,
    &:hover {
      text-decoration: underline;
    }

    &:hover {
      background-color: transparent;
      color: $comp-blue;
    }

    &[disabled] {
      background-color: transparent;
      color: $grey-tint;
      box-shadow: none;

      &:hover {
        color: $grey-tint;
        text-decoration: none;
      }
    }

    &.faded:hover {
      color: rgba($text-color, .8);
    }

    &.size--large,
    &.size--larger {
      padding: 0;
    }

    &.size--large {
      font-weight: bold;
      font-size: 1.2em;
    }

    &--dark {
      font-weight: bold;
      color: $comp-teal-dark;
    }

    &--light {
      color: $light;

      &:hover,
      &:active,
      &:focus {
        color: $light;
      }
    }

    &--primary {
      color: $comp-green;

      &:hover,
      &:active,
      &:focus {
        color: darken(saturate($comp-green, 10%), 13%);
      }
    }

    &--attention {
      color: $btn-color-attention;

      &:hover,
      &:active,
      &:focus {
        color: darken(saturate($btn-color-attention, 10%), 8%);
      }
    }

    &--danger {
      color: $negative;

      &:hover,
      &:active,
      &:focus {
        color: saturate($negative, 20%);
      }
    }

    &--faded {
      color: rgba($comp-blue-faded, .8);

      &:hover,
      &:focus {
        color: darken($comp-blue-faded, 10%);
      }

      &:active {
        color: darken($comp-blue-faded, 20%);
      }
    }
  }

  &.mode--tint {
    background-color: lighten($comp-blue-faded, 30%);
    color: darken($comp-blue-faded, 10%);
    box-shadow: none;
    transition: none;

    &:focus,
    &.focus {
      color: #fff;
      @include focused($btn-color);
    }

    &:hover {
      background-color: $comp-blue;
      color: #fff;
    }

    &:active,
    &:focus {
      background-color: lighten(saturate($btn-color, 8%), 1%);
    }

    &[disabled] {
      background-color: lighten($comp-blue-faded, 40%);
      color: $comp-blue-faded;
    }
  }

  &.mode--tint-dark {
    background-color: lighten($live-player-background-light, 12%);
    color: $comp-teal-light;
    box-shadow: none;

    &:focus,
    &.focus,
    &:hover {
      color: lighten(saturate($comp-teal-light, 15%), 8%);
      background-color: lighten($live-player-background-light, 16%);
    }

    &:active {
      background-color: darken($live-player-background-light, 3%);
      color: rgba($comp-teal-light, .8);
    }

    &[disabled] {
      background-color: desaturate(lighten($live-player-background-light, 5%), 20%);
      color: rgba($comp-teal-light, .7);
    }
  }

  &.mode--flat {
    background-color: $comp-blue-light;
    color: $comp-teal-dark-soft;
    box-shadow: inset darken($comp-blue-light, 10%) 0 0 0 1px;

    &:hover {
      box-shadow: inset darken(desaturate($comp-blue-light, 20%), 20%) 0 0 0 1px;
    }

    &:active {
      box-shadow: inset darken(desaturate($comp-blue-light, 20%), 25%) 0 0 0 1px;
      background-color: darken($comp-blue-light, 3%);
    }
  }

  &.mode--gray {
    background-color: $grey-dark;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: lighten($grey-dark, 5%);
    }

    &:active {
      background-color: darken($grey-dark, 3%);
    }
  }

  &.mode--subtle {
    border: 1px solid #D6D6D6;
    background-color: #fefefe;
    color: #666;
    box-shadow: rgba(0, 0, 0, .05) 0 1px 1px;

    &:hover {
      background-color: #fff;
      border-color: #c9c9c9;
    }

    &:active,
    &:focus {
      box-shadow: none;
      color: #555;
      background-color: #fafafa;
    }

    &[disabled] {
      box-shadow: none;
      background-color: #f5f5f5;
      color: #aaa;
    }
  }

  &.mode--subtle--primary:hover,
  &.mode--subtle--danger:hover {
    color: #fff;
    box-shadow: none;
  }

  // Positive subtle button on hover
  &.mode--subtle--primary {
    transition: none;

    &:hover {
      background-color: $btn-color-primary;
      border-color: $btn-color-primary;
    }

    &:active {
      background-color: darken($btn-color-primary, 10%);
      border-color: darken($btn-color-primary, 10%);
    }
  }

  // Positive subtle button on hover
  &.mode--subtle--danger {
    transition: none;

    &:hover {
      background-color: $btn-color-danger;
      border-color: $btn-color-danger;
    }

    &:active {
      background-color: darken($btn-color-danger, 10%);
      border-color: darken($btn-color-danger, 10%);
    }
  }

  &.mode--loader {
    &[disabled] {
      opacity: .65;
    }

    .spinner-circular {
      margin-right: 1em;
    }
  }

  &.style--cotton {
    color: $comp-teal-dark;
    border-radius: $button-border-radius;
    background-color: #fdfdfd;
    box-shadow: rgba(#000, .15) 0 2px 10px;
    transition: box-shadow .3s ease,
                background-color .3s ease,
                transform .2s ease,
                color .3s ease;

    &:hover,
    &:focus {
      background-color: #fff;
      box-shadow: rgba(#000, .15) 0 2px 15px;
    }

    &:active {
      box-shadow: rgba(#000, .15) 0 0 5px;
      transform: scale(.99);
    }

    &.mode--attention {
      color: $comp-orange;

      &:hover {
        color: saturate(darken($comp-orange, 4%), 30%);
      }
    }

    &.mode--secondary {
      color: $comp-blue;

      &:hover {
        color: saturate($comp-blue, 30%);
      }
    }

    &.mode--primary {
      color: $comp-green;

      &:hover {
        color: saturate(darken($comp-green, 11%), 30%);
      }
    }

    &.mode--danger {
      color: #f9494c;

      &:hover {
        color: saturate(darken(#f9494c, 2%), 40%);
      }
    }
  }

  &.style--square {
    border-radius: $button-border-radius;
  }

  &.style--ghost {
    background: transparent;
    box-shadow: inset 0 0 0 2px currentColor;
    color: $btn-color;
    transition: none;
    font-weight: bold;
    transition: box-shadow .2s ease;

    &:hover,
    &:focus {
      background-color: transparent;
      color: darken($btn-color, 10%);
    }

    &:active {
      color: darken($btn-color, 20%);
    }

    &[disabled] {
      background: transparent;
      color: desaturate($btn-color, 20%);
      opacity: .5;
      box-shadow: inset 0 0 0 2px;

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
      }
    }

    &.mode--primary {
      color: darken($comp-green, 5%);

      &:hover,
      &:focus {
        background-color: transparent;
        color: darken($comp-green, 10%);
        box-shadow: inset 0 0 0 2px currentColor;
      }

      &:active {
        color: darken($comp-green, 20%);
      }
    }

    &.mode--dark {
      color: $dark;
      transition: box-shadow .2s ease-out, color .2s ease-out;

      &:hover,
      &:focus {
        background-color: transparent;
        box-shadow: inset currentColor 0 0 0 1px;
        color: rgba($dark, .6);
      }
    }

    &.mode--steel {
      color: darken($grey-tint, 10%);
      transition: none;
      box-shadow: inset 0 0 0 2px lighten($grey-tint, 5%);

      &:hover,
      &:focus {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px darken($grey-tint, 10%);
        color: darken($grey-tint, 20%);
      }

      &:active {
        color: darken($grey-tint, 20%);
      }
    }

    &.mode--attention {
      color: $btn-color-attention;
      transition: none;

      &:hover,
      &:focus {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px currentColor;
        color: darken($btn-color-attention, 5%);
      }

      &:active {
        color: darken($btn-color-attention, 10%);
      }
    }

    &.mode--gray {
      color: #888;
      box-shadow: inset 0 0 0 2px #bbb;

      &:hover,
      &:focus {
        background-color: transparent;
        color: #6A6A6A;
        box-shadow: inset 0 0 0 2px #9A9A9A;
      }

      &:active {
        box-shadow: inset 0 0 0 2px #8a8a8a;
      }
    }

    &.mode--danger {
      color: $btn-color-danger;
      transition: none;

      &:hover,
      &:focus {
        background-color: darken($btn-color-danger, 10%);
        color: #fff;
        box-shadow: none;
      }

      &:active {
        background-color: darken($btn-color-danger, 20%);
      }
    }

    &.mode--light {
      color: $light;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $light;
      }

      &:active {
        color: rgba($light, .8);
      }
    }
  }

  /* Modifiers */

  &.btn--round {
    border-radius: 100%;
    padding: 0;
    width: 1em;
    height: 1em;
  }

  &.rounded--left {
    border-radius: 2em 0 0 2em;
    margin-right: -0.1em;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  &.rounded--right {
    border-radius: 0 2em 2em 0;
    margin-left: -0.1em;
    padding-right: 1.5em;
    padding-left: 1em;
  }

  &.size--mini {
    padding: .3em .7em;
    font-size: .8rem;
    border-radius: 3px;
  }

  &.size--large {
    font-size: 1.1rem;
    padding: .6em 1.3em;
  }

  &.size--larger {
    font-size: 1.3rem;
    padding: .7em 2em;

    @include handheld {
      font-size: 1rem;
    }
  }

  &.size--larger {
    .icon {
      top: 0;
    }
  }

  &.style--wide {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  // Icons

  .icon {
    position: relative;
    top: -.2ex;
  }
}

.mode--icon-right {
  .icon {
    margin-left: .4em;
  }
}

.mode--icon-left {
  .icon {
    margin-right: .4em;
  }
}

// A button with just an icon
.btn-icon {
  margin: 0 .5em;
  display: inline-block;

  .icon {
    font-size: to_rem(20);
  }
}
