/* =FOOTERS
--------------------------------------------- */

.footer-main {
  $footer-color: lighten(#615F60, 11%);
  $hover-color: lighten($dark, 80%);

  background-color: #22606C;
  box-shadow: inset $grey-light 0 1px 0;
  padding: $lineheight*1.5 10% $lineheight 5%;
  color: darken($footer-color, 6%);

  .footer__inner {
    display: flex;
    justify-content: space-between;
  }

  .footer__bottom {
    margin-top: $lineheight*2;
    text-align: right;
  }

  &.footer--dark {
    box-shadow: none;
    background-color: #262c30;
    color: lighten($dark, 25%);

    h2 {
      color: #fff;
    }

    a {
      color: lighten($dark, 50%);

      &:hover {
        color: $hover-color;
      }
    }

    .footer__bottom {
      a {
        color: lighten($dark, 40%);

        &:hover {
          text-decoration: underline;
          color: $hover-color;
        }
      }
    }

    .logo__swirl,
    .logo__text {
      fill: lighten($dark, 50%);
    }

    .lookback-logo:hover {
      .logo__swirl,
      .logo__text {
        fill: $hover-color;
      }
    }

    .nav--current a {
      color: #fff;
    }
  }

  h2 {
    font-weight: bold;
    font-family: $sans;
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    max-width: 800px;

    @include larger-than(769px) {
      flex-basis: 75%;
    }

    @include larger-than($handheld) {
      .footer-nav__group:not(:last-child) {
        margin-right: 1rem;
        flex: 1;
      }
    }

    ul {
      line-height: 1.8;
    }
  }

  a {
    color: $footer-color;

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }

  .nav--current a {
    color: $text-color;
  }

  .lookback-logo {
    width: 15em;
    height: 3em;
  }

  .logo__swirl,
  .logo__text {
    fill: $footer-color;
    transition: fill .5s;
  }

  .lookback-logo:hover {
    .logo__swirl,
    .logo__text {
      fill: darken($footer-color, 10%);
    }
  }

  .footer__logo {
    margin: 0;
    padding: 0;
    font-size: .7em;
  }

  @include smaller-than(1010px) {
    .footer__inner {
      flex-direction: column;
    }

    .footer-nav {
      margin-top: $lineheight;
    }
  }

  @include handheld {
    font-size: 1rem;

    a {
      padding: .2em .4em;
      font-size: 1.1em;
      display: inline-block;
    }

    .lookback-logo {
      width: 10em;
      height: 2em;
    }

    .footer__inner {
      align-items: center;
    }

    .footer-nav {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__group {
        margin-bottom: $lineheight;
      }
    }

    .footer__bottom {
      text-align: center;
      margin-top: $lineheight;
    }
  }
}

.footer-minimal {
  text-align: center;
  font-size: .85em;

  .lookback-logo {
    font-size: 1rem;

    .logo__text {
      fill: rgba($comp-teal-dark, .7);
    }

    .logo__swirl {
      transition: fill .2s ease;
      fill: rgba($comp-teal-dark, .4);
    }
  }

  ul {
    @include list-reset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    // Use min-width so all all items are equal, and the logo comes to the center.
    min-width: 7rem;
  }

  a {
    color: rgba($comp-teal-dark, .7);

    &:hover {
      color: rgba($comp-teal-dark, .9);
    }
  }

  &__logo {
    padding: 0 2em;

    &--mobile {
      display: none;
    }

    a {
      position: relative;
      top: 3px; // #pixelfucking
    }
  }

  @include smaller-than(700px) {
    font-size: 1em;

    ul {
      flex-direction: column;
    }

    li {
      min-width: 0;
      padding: .5em 0;
    }

    .footer-minimal__logo {
      display: none;

      &--mobile {
        display: block;
        margin-bottom: $lineheight;
      }
    }
  }
}
