/*
MODAL
----------------------------------------------------------------*/

.Modal {
  @include center(all);
  transition: opacity .15s ease,
              transform .2s ease;
  
  &:focus {
    outline: 0;
  }

  &--fixed {
    position: fixed;
  }

  &--flat {
    background-color: rgba($comp-blue-light, .95);
    -webkit-backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;

    .Modal__inner {
      overflow-y: auto;
    }
  }

  &--frame {
    position: relative;
    margin: 0 auto;
    padding: $spacing-large $spacing-extra-large;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(62, 94, 101, 0.25) 0 5px 40px,
                rgba(78, 125, 136, 0.14) 0 3px 10px;
  }

  &__inner {
    width: 100%;
  }

  .Modal__close {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
