/* =POPUP GUIDES
--------------------------------------------- */

.dropdown.popup-guide {
  max-width: 320px;
  color: #555;
  z-index: 1002; // Above backdrop
  text-align: center;
  box-shadow: rgba(#000, 0.1) 0 1px 4px,
              rgba(#000, 0.05) 0 7px 15px;

  &--with-backdrop {
    border: 0;
    // Starker shadow when on a backdrop.
    box-shadow: rgba(#000, 0.2) 0 2px 4px,
                rgba(#000, 0.08) 0 7px 20px;
  }

  .popup-guide__author {
    display: flex;
    flex-direction: column;
    margin: -40px auto calc(#{$lineheight / 3} - 5px);
    align-items: center;

    .avatar {
      box-shadow: rgba(#000, .15) 0 -1px 2px;
      background-color: #f6f6f6;
    }

    &__name {
      color: $grey-dark;
      font-size: .9em;
      margin-top: 5px;
    }
  }

  .popup-guide__close {
    top: 10px;
    right: 10px;
    font-size: .6em;
  }

  .popup-guide__actions {
    display: flex;
    margin: 0 -1rem -1rem;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
  }

  .popup-guide__action {
    flex: 1;
    display: block;
    padding: .5em;
    padding-bottom: calc(.5em + 1px);
    text-align: center;
    color: $comp-blue;
    background-color: lighten($off-white, 1%);
    border-top: 1px solid #ddd;
    box-shadow: inset #ddd -1px 0 0;
    transition: background-color .15s ease;

    &--primary {
      font-weight: bold;
    }

    &:hover {
      text-decoration: none;
      background-color: darken($off-white, 2%);
      color: darken($comp-blue, 10%);
    }

    &:active {
      background-color: darken($off-white, 5%);
    }

    &:last-child {
      box-shadow: none;
    }
  }
}
