/* =URL BOX
--------------------------------------------- */

.url-box {
  display: flex;

  .url-box__field {
    flex: 1;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    cursor: pointer;
  }

  .url-box__btn {
    padding: .3rem .6rem;
    border-radius: 0 $border-radius-3 $border-radius-3 0;
  }
}
