/* =PLAYER ACTIONS

Vertical menu just below title.
--------------------------------------------- */

.recording__details {
  font-size: .85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darken($grey-dark, 10%);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba($grey, .6);

  > ul {
    @include list-reset;
    display: flex;

    &.recording__details__meta {
      li {
        margin-left: .5rem;
        margin-right: .5rem;
        cursor: default;
      }
    }

    > li {
      position: relative;

      > a {

        &:hover:not([disabled]),
        &.dropdown--active {

          > .icon {

            &.icon-dots-three-horizontal {
              color: #fff;
              background-color: darken($grey, 45%);
            }
          }
        }

        // Favorite button needs yellow star!

        &.player-favorite-btn {
          @include larger-than($handheld) {
            min-width: 91px;    // Keep a set width, since we toggle dynamic text.
          }

          &.active .icon {
            color: darken($comp-yellow, 10%);
          }
        }

        .icon-dots-three-horizontal {
          color: #fff;
          font-size: .7rem;
          vertical-align: initial;
          margin-right: 0;
          top: -3px;
          position: relative;
        }
      }

      > .icon {
        margin-right: 3px;
        font-size: 1.1rem;
        color: darken($grey, 8%);
        position: relative;
        top: -1px;
        transition: color .2s ease-out;
      }
    }

    .action__custom-icon {
      border-radius: 100%;
      background-color: darken($grey, 35%);
      transition: background-color 0.2s ease-out;
      height: 15px;
      width: 15px;
      display: inline-block;
      text-align: center;
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }

  // Failure message in dropdown.
  .download__failure {
    min-width: 230px;
    padding: .5em 1em;
  }

  @include handheld {
    flex-direction: column-reverse;

    > ul {
      margin-bottom: $lineheight / 2;
      width: 100%;
      justify-content: center;

      &.recording__details__meta li:first-child {
        margin-left: 0;
      }
    }

    // Hide text labels for buttons
    .action__text {
      display: none;
    }

    .recording__details__actions {
      justify-content: space-between;
      text-align: center;
      margin-bottom: 0;

      li {
        flex: 1;
      }

      .dropdown {
        text-align: left;
      }
    }

    .player-action-btn {
      padding: .5em;
      width: 95%;

      .icon {
        font-size: 1.7em;
        margin-right: 0;
      }

      .icon-dots-three-horizontal {
        font-size: .8rem;
      }
    }
  }
}

.download-failed-dropdown {
  min-width: 260px;
}

.player-misc-dropdown {
  width: 200px;

  .dropdown__inset {
    .btn {
      width: 100%;
      text-align: left;
      margin-bottom: 3px;
    }
  }

  .msg__confirm {
    margin-bottom: 5px;
    text-align: center;
    padding-top: 3px;
  }
}
