/* =PLAYER DESCRIPTION
--------------------------------------------- */

.recording-description {
  margin-bottom: $lineheight*2;

  @include handheld {
    padding-left: $player-side-padding;
    padding-right: $player-side-padding;
  }

  textarea,
  .description__text {
    font-size: 1rem;
  }

  textarea {
    width: 100%;
    transition: height .15s;

    // Disable iOS zoom.

    @include handheld {
      font-size: 16px;
    }
  }

  .description__instruction {
    color: darken($grey-dark, 15%);
  }

  .description__actions {
    margin-top: $lineheight / 2;
    display: flex;
    justify-content: space-between;
    color: $grey-dark;
    align-items: center;

    p {
      margin-bottom: 0;
      font-size: .9em;

      a {
        color: $text-color;
      }
    }

    @include handheld {
      justify-content: flex-end;
    }
  }

  // Downsize headings a bit
  h1 {
    font-size: to_rem(30);
  }
  h2 {
    font-size: to_rem(24);
  }
  h3 {
    font-size: to_rem(22);
  }
  h4 {
    font-size: to_rem(18);
  }
}

.description__text {
  color: rgba($text-color, .7);
  line-height: 1.7;
  margin-left: .5rem;
  margin-right: 3rem;

  p, ul, ol, blockquote {
    margin-bottom: 1rem;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .no-content {
    color: $grey-dark;
    font-style: italic;
  }

  @include handheld {
    margin-left: 0;
  }
}

.description__text--can-edit {
  cursor: pointer;

  .icon {
    color: #AFAFAF;
    margin-left: .5em;
  }

  &:hover {

    .no-content {
      color: darken($grey-dark, 15%);
    }

    .icon {
      color: $grey-dark;
    }
  }
}
