.player-overlay {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(#000, .8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  transition: opacity .3s ease;
  perspective: 1000px;

  &.in {
    opacity: 1;
    pointer-events: all;
  }

  &.out,
  &.off-screen {
    opacity: 0;
    pointer-events: none;
  }
}
