/* =PERMISSION VIEW
--------------------------------------------- */

.player-permissions {

  .form-signin {
    width: 100%;
    margin-top: $lineheight;

    .form__highlight {
      background-color: #fff;
    }
  }

  .request-access-form {
    margin-bottom: $lineheight;

    input[type="email"] {
      padding: .7em;
      min-width: 20rem;
    }
  }

  .status__content {
    p {
      margin-bottom: $lineheight;
    }
  }
}
