/* =PLAYER
--------------------------------------------- */

$player-background: $off-white;
$player-timeline-height: 35px;
$player-border-color: darken($grey-light, 7%);
$player-layout-breakpoint: 1010px;
$player-max-width: 80rem;
$player-side-padding: 4%;

$player-heading-color: #555;

@mixin player-heading {
  color: $player-heading-color;
  font-weight: normal;
  font-size: to_rem(18);
}

.player {
  background-color: $player-background;

  body {
    padding-top: $header-height;
  }

  .preloaded-avatars {
    // Hide offscreen
    position: absolute;
    top: -9999em;
  }

  // Hide Intercom bubble while in player
  #intercom-launcher {
    display: none !important;
  }

  // Make header float above side panes.
  [role="banner"] {
    @include fixed-header;
    z-index: 1001;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, .9);
    }
  }

  // Make main a container.
  [role="main"] {
    position: relative;
  }

  // Make all headings sans-serif
  h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
  }

  .player-overview {
    display: flex;
    padding: $lineheight $player-side-padding;
    max-width: $player-max-width;
    margin: 0 auto;

    @include smaller-than($player-layout-breakpoint) {
      flex-direction: column;
    }

    @include handheld {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .player-main {
    flex: 2;
  }

  .player-meta {
    flex: 1;
    margin-left: 4%;

    @include smaller-than($player-layout-breakpoint) {
      margin-left: 0;
    }

    @media (min-width: 720px) and (max-width: $player-layout-breakpoint) {
      margin-top: $lineheight*2;
      display: flex;
      justify-content: space-between;

      > section {
        flex-basis: 30%;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }

    @include smaller-than(720px) {
      margin-top: $lineheight*2;
    }

    @include handheld {
      padding-left: $player-side-padding;
      padding-right: $player-side-padding;
    }
  }
}

.player-action-btn {
  color: rgba($text-color, .7);
  font-weight: 500;
  display: inline-block;
  padding: .3em .5em;
  border-radius: 4px;
  transition: background-color .15s ease-out;

  &:hover {
    text-decoration: none;
  }

  &[disabled] {
    cursor: default;
    color: rgba($text-color, .6);
    font-weight: normal;
  }

  &:hover:not([disabled]),
  &.dropdown--open {
    color: rgba($text-color, .9);
    background-color: rgba(#000, .05);

    .icon-chevron-down {
      color: darken($grey-dark, 20%);
    }
  }

  &:active:not([disabled]) {
    background-color: rgba(#000, .09);
  }

  .icon-chevron-down {
    font-size: 1em;
    color: $grey-dark;
  }

  .action__icon {
    position: relative;

    .icon {
      margin-right: 3px;
      font-size: 1.1rem;
      color: darken($grey, 35%);
      position: relative;
      top: -2px;
      transition: color .2s ease-out;
    }

    // Small annotation, like a number on top of the action icon.
    &__annotation {
      position: absolute;
      font-size: to_rem(9);
    }
  }
}


// The layout of the stage area w/ videos, as well as controls and timeline.
@import "stage";
@import "status-view";
@import "player-error";

@import "rename";
@import "actions";
@import "sidebar";
@import "sidepane";
@import "description";
@import "comments";
@import "permissions";
@import "overlay";
