@keyframes flash-float {

  65% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.player-error {
  flex: 1;
  display: flex;
  justify-content: center;
  color: #aaa;
  flex-direction: column;
  font-size: to_rem(16);
  text-align: center;

  a {
    color: #fff;
  }

  &__container {
    max-width: to_rem(550);
    margin: 0 auto;
  }

  .icon {
    color: #fff;
    font-size: 70px;
    margin-bottom: 3rem;
    animation: flash-float 1.1s infinite linear;
  }
}
