/*
  =NOTICE STRIP

  For use when you wanna get one's attention.
*/

.notice-strip {
  box-shadow: inset $main-border-color 0 0 0 1px;
  border-radius: 3em;
  color: $comp-teal-dark;
  background-color: #fff;
  display: flex;
  padding: 0.3em 1em;
  padding-left: 0.5em;
  align-items: center;
  transition: background-color .2s ease;

  &:hover {
    text-decoration: none;
    background-color: rgba(#fff, .45);
    box-shadow: inset darken($main-border-color, 8%) 0 0 0 1px;

    .notice-strip__badge {
      background-color: darken($comp-green, 5%);
    }
  }

  &:active {
    box-shadow: inset darken($main-border-color, 12%) 0 0 0 1px;
  }

  &__badge {
    color: #fff;
    background-color: $comp-green;
    display: inline-block;
    margin-right: .5em;
    border-radius: 3em;
    padding: 0em 0.6em;
    font-size: .8em;
    font-weight: bold;
    height: 1.6em;
  }

  &__content {
    flex: 1;
    margin: 0;
  }
}
