.recordings-blank-slate {
  h1 {
    font-size: to_em(36);
    font-weight: normal;
    font-style: italic;
    margin-bottom: $lineheight*2;
    margin-top: $lineheight*2;
    text-align: center;
  }
}
