/* =RECORDING CONTROLS

The top bar with buttons and dropdowns.
--------------------------------------------- */

.dashboard-controls {
  display: flex !important; // Override for animation
  align-items: center;
  position: absolute;
  top: 58px;
  right: 0;
  left: 0;
  padding: 10px 20px 0 15px;
  transition: transform .25s ease-out,
              opacity .2s;

  &.off-screen {
    transform: translate(0, -25%);
    opacity: 0;
  }

  &.controls--sidebar {
    left: 240px;
  }

  &.controls--list-view {
    justify-content: space-between;
  }

  &.controls--grid-view {
    justify-content: flex-end;
  }

  @include handheld {
    position: static;
    padding: 10px 3%;
    height: auto;
  }
}

.dashboard-controls__actions {
  display: flex;
  align-items: center;
  position: relative;
  transition: all .1s ease-out;
  color: $grey-dark;

  @include handheld {
    display: none;
  }

  #remove-multiple .icon-cross {
    position: absolute;
    color: #fff;
    top: 14px;
    font-size: 0.7rem;
    left: 23px;
    z-index: 2;
  }

  &.dashboard-controls__actions--dimmed {
    opacity: .5;
    pointer-events: none;
    transform: translate(0, 1px);
  }

  .dashboard__confirmation {
    .btn {
      margin-left: .5rem;
    }
  }

  .action-group {
    display: flex;
    margin-right: 1.5rem;

    > .action__button:first-child {
      border-radius: 3px 0 0 3px;
    }
    > .action__button.last {
      border-radius: 0 3px 3px 0;
      border-right-width: 1px;
    }

    .action__button {
      border-color: #d7d7d7;
      box-shadow: rgba(#000, 0.05) 0 1px 2px;
      padding: .4em 1em;
      font-size: 1.1em;
      border-right-width: 0;
      border-radius: 0;
      color: #7d7d7d;

      &[disabled] {
        opacity: .7;
        color: rgba($grey-dark, .6);
      }

      &:not([disabled]):hover,
      &.active {
        color: darken($grey-dark, 20%);
      }

      &:active,
      &.active {
        background-color: #f7f7f7;
        color: darken($grey-dark, 20%);
      }

      .icon {
        pointer-events: none; // Prevent clicks.
      }
    }
  }

  .action__link {
    color: darken($grey-dark, 15%);
    transition: color .15s ease-out;
    padding: 0 .5rem;
    font-weight: bold;

    &:hover {
      color: darken($grey-dark, 25%);

      .icon {
        opacity: 1;
      }
    }

    .icon {
      font-size: 1.2rem;
      opacity: .8;
      position: relative;
      top: -1px;
    }
  }
}

.exports-menu {
  .dropdown__menu [role="menuitem"] > a .icon {
    width: 1em;
    font-size: 1.2em;
    top: -1px;
  }
}

.dashboard-controls__views {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    font-weight: bold;
  }

  @include handheld {
    width: 100%;
  }

  .inbox .entypo {
    font-size: 18px;
  }

  .dashboard-controls__view-modes {
    margin-left: .5rem;

    @include handheld {
      display: none;
    }

    a {
      color: $grey-tint;
      display: inline-block;
      padding: 6px .6em;
      border-radius: 3px;

      &:hover {
        color: darken($grey-tint, 15%);
      }

      &.nav--current {
        color: rgba($grey-tint, .8);
        background-color: #fff;
        box-shadow: inset rgba($grey-dark, .8) 0 1px 2px;
      }

      .icon {
        font-size: 1.3em;
        position: relative;
        top: -1px;
      }
    }
  }

  .list-display-label {
    color: $grey-dark;

    @include larger-than($handheld) {
      display: none;
    }
  }
}
