/* =LIVE STAGE
--------------------------------------------- */
.live-player-container {
  &--mobile {

    .live-player__stage {
      margin-right: 1rem;
      flex: 1;

      video {
        width: auto;
        max-height: 80vh;
      }
    }

    .live-player-comments {
      flex: none;
      margin-left: 1rem;
      width: 450px;
      height: auto;

      &::before {
        top: 0;
      }

      &__list {
        margin-top: 0;
      }
    }

    .live-player__meta {
      max-width: none;

      &__main {
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}


.live-player__stage__top,
.live-player__meta__top {
  // Force equal heights for top bars.
  height: 50px;
  display: flex;
}

.live-player__stage {
  flex: 2;
  display: flex;
  flex-direction: column;

  &__top {
    color: #fff;
    padding: $lineheight / 2 1rem;
    cursor: default;
    align-items: baseline;

    .live-logo {
      color: $comp-green;

      .icon {
        font-size: 1.3rem;
        position: relative;
        top: -2px;
        margin-right: 0.5rem;
      }
    }

    strong {
      font-size: 1.1em;
      margin-right: 1rem;
    }

    .live-player__duration {
      display: inline-block;
      margin-right: 1rem;
      font-weight: bold;
    }
  }
}

.live-player-breadcrumb {
  font-weight: 300;
  font-size: 1.1em;
  margin-right: 1rem;

  a {
    color: #fff;
  }

  .icon {
    color: $comp-blue;
    position: relative;
    top: -1px;
  }
}

.moderator-control {
  $disabled-color: #248295;
  $danger-color: #FF6E70;

  color: $comp-green;
  transition: color .2s ease;
  margin-right: .6rem;

  &:hover {
    color: saturate(lighten($comp-green, 10%), 30%);

    &.moderator-badge--outline {
      background-color: $comp-green;
      border-color: $comp-green;
      color: rgb(8, 43, 56);
    }
  }

  &:active {
    &.moderator-badge--outline {
      background-color: darken($comp-green, 5%);
      border-color: darken($comp-green, 5%);
    }
  }

  &--danger {
    color: $danger-color;

    &:hover {
      color: saturate(darken($danger-color, 5%), 30%);

      &.moderator-badge--outline {
        background-color: $danger-color;
        border-color: $danger-color;
        color: rgb(8, 43, 56);
      }
    }

    &:active {
      &.moderator-badge--outline {
        background-color: darken($danger-color, 5%);
        border-color: darken($danger-color, 5%);
      }
    }
  }

  &--disabled {
    color: $disabled-color;

    &:hover {
      color: lighten($disabled-color, 10%);
    }
  }
}

.moderator-badge {
  font-weight: bold;
  cursor: default;
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.2rem;
    margin-right: .5rem;
    position: relative;
    top: -1px;
  }

  .avatar::after {
    border-color: currentColor;
    color: currentColor;
  }

  &--trigger {
    cursor: pointer;
  }

  &--outline {
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 3em;
    font-size: .8em;
    padding: .1em .8em .2em;
    transition: none;
  }
}

.live-player__meta {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-right: 1rem;
  max-width: 35%;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__top {
    padding: $lineheight / 2 0;
    text-align: right;
    justify-content: flex-end;
    align-items: center;

    .avatar {
      margin-right: 8px;
    }

    .user-dropdown-trigger {
      color: rgba(#fff, .8);
      font-style: italic;
      transition: color .2s ease;

      &:hover {
        color: #fff;

        [class*="icon-chevron"] {
          color: #fff;
        }
      }
    }
  }

  .moderator-toggle-track {
    cursor: pointer;

    .icon {
      font-size: 1.5rem;  // Match avatar width of 22px
    }
  }
}

.live-player__stage__screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2% 0 1rem;
}

.player__stage--stream {
  padding-bottom: 1.5rem;

  .player__videos {
    justify-content: space-between;
  }
}

.live-player-moderator-instructions {
  text-align: center;
  padding: 0 6em;
  font-size: 1.2em;

  h2 {
    font-size: to_em(36);
    margin-bottom: 1em;
  }

  p {
    margin-bottom: $lineheight;
  }
}

.live-player-loading {
  text-align: center;

  &__text {
    font-style: italic;
    font-size: 1.3em;
    margin: 0;

    .live-player-loading__spinner {
      margin-right: 1em;
      opacity: .4;
    }
  }
}

.player-host {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &--waiting {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-bottom: 0;
  }

  video {
    box-shadow: rgba(0,0,0, .3) 0 3px 20px 5px;
    border-radius: 3px;
    width: 100%;
    transition: box-shadow .2s .3s ease,
                opacity .3s ease;

    &.stream-loading {
      box-shadow: none;
    }
  }

  .btn-watch {
    .icon {
      top: -.1ex; // #pixelfucking
      margin-right: 0;
      font-size: 1.3em;
    }
  }

  .player-live__processing-msg {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-style: italic;

    .spinner-circular {
      margin-right: 1em;
      font-size: 8px;
      opacity: .4;
    }

    &--warning {
      color: $comp-orange;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.live-player-camera {

  // Temp solution until iOS rotates the camera.
  &.rotate video {
    transform: rotate(90deg);
    transform-origin: 38% 50%;
  }

  video {
    box-shadow: rgba(#000, .3) 0 3px 10px;
    max-width: 19vw;
    border-radius: 5px;
  }
}

.live-player-comments {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  height: 1px;

  &__blank-slate {
    @include center(all);
    flex: 1;
    padding: 0 2em;
    line-height: 1.5;
    font-size: 1.2em;

    .icon-comments {
      margin-bottom: $lineheight;
      font-size: 4rem;
      opacity: .4;
    }

    p {
      margin-bottom: $lineheight / 3;
    }

    small {
      font-size: .85em;
      padding: 0 3em;
      display: inline-block;
      opacity: .7;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    display: block;
    background-image: linear-gradient(rgb(8, 43, 56), rgba(8, 43, 56, 0));
    height: 50px;
    pointer-events: none;
    z-index: 10;
  }

  &__list {
    @include list-reset;
    color: rgba(#fff, .85);
    overflow-y: scroll;
    margin: 1rem 0;
    flex: 1;
    // Don't obscure top comment with gradient
    padding-top: 25px;

    // Custom scrollbar

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(#fff, .04);
      border-radius: 2em;

      &:window-inactive {
        background-color: rgba(#fff, .02);
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(#214957, .8);
      border-radius: 2em;

      &:window-inactive {
        background-color: rgba(#214957, .3);
      }
    }
  }
}

.live-player-event {
  font-style: italic;
  color: rgba(lighten($comp-teal-dark, 40%), .6);
  text-align: center;
  opacity: .4;
  transition: opacity .2s ease;
  position: relative;
  margin: .5rem 0 0;

  &__inner {
    display: inline-block;
    background-color: rgb(8, 43, 56);
    padding: 0 8px;
    position: relative;
    z-index: 2;
  }

  &::before {
    position: absolute;
    top: 11px;
    z-index: 1;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(lighten($comp-teal-dark, 40%), .2);
    display: block;
    content: '';
  }

  &__author {
    color: lighten($comp-teal-dark, 40%);
  }

  &:hover {
    opacity: .8;
  }
}

.live-player-comment {
  display: flex;

  &:not(:first-child, .live-player-comment--thread) {
    margin-top: 1rem;
  }

  &:hover {
    .live-player-comment__time {
      opacity: 1;
    }
  }

  > :first-child {
    // Hard code width in order to prevent flicker
    // when avatars are loading.
    width: 24px;
  }

  > :last-child {
    flex: 1;
    margin-left: .5rem;
  }

  &--thread {
    > :last-child {
      margin-left: calc(24px + .5rem);
    }

    .live-player-comment__author {
      display: none;
    }
  }

  &__meta {
    line-height: 1;
    margin-bottom: 3px;
  }

  &__author {
    font-weight: bold;
    font-style: italic;
    margin-right: 2px;
  }

  &__time {
    color: $comp-blue;
    opacity: .8;
    font-size: .8em;
    transition: opacity .2s ease;
  }

  &__content {
    line-height: 1.4;
    color: #fff;
    padding-right: 1rem;  // Some spacing

    span.emoji {
      position: relative;
      top: .2ex;
      font-size: 1.2em;
    }

    p, ul, ol img, h1, h2, h3, h4, h5, h6 {
      margin-bottom: .5rem;
    }

    a {
      color: #fff;
      border-bottom: 1px solid rgba(#fff, .5);
      transition: border-color .15s ease;

      &:hover {
        text-decoration: none;
        border-color: #fff;
      }
    }

    pre {
      margin: .75rem 0;
      max-width: 360px;
      padding: 1rem;
    }

    code {
      font-size: 1em;
    }

    pre, code {
      background-color: rgba(12, 55, 71, .6);
      color: lighten($comp-teal-dark, 30%);
      border: 0;
    }

    img {
      border-radius: 2px;
      box-shadow: rgba(#000, .2) 0 2px 10px;
      max-width: 370px;
    }

    pre code {
      background-color: transparent;
    }

    blockquote {
      margin: .75rem 0;
      color: rgba(#fff, .9);
      border-left: 1px solid rgba(#fff, .25);
      font-style: italic;
    }

    .mention {
      font-weight: bold;

      &--you {
        box-shadow: none;
        padding: 0;
        background-color: transparent;
        display: inline;
        color: $comp-yellow;
      }
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .avatar {
    &::after {
      color: #58737b;
      border-color: #25424c;
    }
  }
}

.live-player-comment-form {

  &--disabled {
    opacity: .4;
  }

  textarea {
    margin: 0;
    width: 100%;
    resize: none;
    background-color: rgb(12, 55, 71);
    border-radius: 4px;
    box-shadow: none;
    border: 0;
    color: rgba(#fff, .9);
    transition: opacity .2s ease;
    opacity: .8;

    @include placeholder {
      color: lighten($comp-teal-dark, 20%);
    }

    &:focus {
      opacity: 1;
    }
  }
}

.live-player__error {
  @include center(all);
  width: 100%;
  background-color: $comp-blue-light;
  font-size: 1.2em;

  h2 {
    color: $comp-teal-dark;
  }

  p {
    max-width: 470px;
    margin: 0 auto $lineheight;
    color: rgba($comp-teal-dark, .6);
  }

  .custom-icon--browser-window {
    font-size: 9rem;
    margin-bottom: $lineheight;
    animation: live-error-animation 3s 1s linear both;
  }

  .icon-help-with-circle {
    color: rgba($comp-teal-dark, .4);
    position: relative;
    top: -1px;
    margin-right: 3px;
  }

  &__explanation {
    font-size: .9em;
  }

  .custom-icon--live-logo {
    font-size: 3rem;
    margin-bottom: $lineheight / 2;
  }
}

// Autocomplete menu for mentions, emojis, etc.
.live-comments-autocomplete {
  bottom: 44px !important;
  top: auto !important;
  border-radius: 4px 4px 2px 2px;
  border: 0;

  .emoji {
    font-size: 1.2em;
  }
}

@keyframes live-error-animation {
  0% { opacity: 0; transform: matrix3d(1.5, 0.546, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.43% { transform: matrix3d(1.318, 0.408, 0, 0, 0, 1.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.85% { transform: matrix3d(1.029, 0.246, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { transform: matrix3d(0.926, 0.194, 0, 0, 0, 0.926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.28% { transform: matrix3d(0.799, 0.13, 0, 0, 0, 0.799, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.63% { transform: matrix3d(0.723, 0.067, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { transform: matrix3d(0.771, 0.029, 0, 0, 0, 0.771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.13% { transform: matrix3d(0.799, 0.019, 0, 0, 0, 0.799, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.63% { transform: matrix3d(0.96, -0.033, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.14% { opacity: 1; transform: matrix3d(1.1, -0.085, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { transform: matrix3d(1.105, -0.088, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.64% { transform: matrix3d(1.151, -0.12, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.14% { transform: matrix3d(1.109, -0.128, 0, 0, 0, 1.109, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { transform: matrix3d(1.084, -0.126, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.64% { transform: matrix3d(1.021, -0.116, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.14% { transform: matrix3d(0.945, -0.096, 0, 0, 0, 0.945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { transform: matrix3d(0.918, -0.077, 0, 0, 0, 0.918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.64% { transform: matrix3d(0.918, -0.075, 0, 0, 0, 0.918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.65% { transform: matrix3d(0.989, -0.034, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { transform: matrix3d(1.01, -0.024, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.65% { transform: matrix3d(1.045, 0.007, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.031, 0.022, 0, 0, 0, 1.031, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(0.977, 0.035, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.65% { transform: matrix3d(0.976, 0.035, 0, 0, 0, 0.976, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.66% { transform: matrix3d(1.013, 0.013, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { transform: matrix3d(1.011, 0.007, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.67% { transform: matrix3d(0.993, -0.009, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { transform: matrix3d(0.998, -0.011, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.67% { transform: matrix3d(1.004, -0.009, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.68% { transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.68% { transform: matrix3d(1.001, 0.003, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { transform: matrix3d(1.001, 0.003, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65.69% { transform: matrix3d(0.999, 0.002, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.7% { transform: matrix3d(1, -0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { transform: matrix3d(1, -0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { transform: matrix3d(1, -0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
