/* =LIVE PLAYER WAITING ROOM (LOBBY)
--------------------------------------------- */

.live-player__lobby {
  @include center(all);
  width: 100%;
  background-color: $comp-blue-light;

  h1, h2 {
    color: $comp-teal-dark;
  }

  &__url {
    max-width: 280px;
    margin: 0 auto $lineheight;
    justify-content: center;
  }

  &__main {
    background-color: #fff;
    border-radius: 8px;
    padding: 3rem;
    min-width: 600px;
    box-shadow: $box-shadow-light 0 10px 40px;
    font-size: 1.2em;
    color: $comp-teal-dark;
    font-weight: 300;

    > :last-child {
      margin-bottom: 0;
    }

    .recording-app-icon {
      width: 60px;
      height: 60px;
      margin-bottom: $lineheight / 3;
      box-shadow: 0 1px 2px rgba(#000, .2);

      &--unrendered {
        border-radius: 6px;
      }
    }

    .btn.size--large {
      min-width: 200px;

      .icon {
        margin-right: 5px;
      }
    }

    p {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-size: to_rem(32);
      margin-bottom: 0;
    }
  }

  .custom-icon--live-flashes {
    font-size: 5rem;
    margin-bottom: $lineheight / 2;
  }
}

.live-player__lobby__watching {
  margin: $lineheight*2 0 $lineheight;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: $grey-tint;
    font-size: to_rem(12);
    margin-bottom: $lineheight;
  }

  .no-content {
    font-size: 1.2em;
    color: darken($grey-tint, 10%);

    .emoji {
      font-size: 1.2em;
      position: relative;
      top: .2ex;
      margin-left: 3px;
    }
  }
}

// Horizontal user list with avatars

.live-player__lobby__users {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    margin: 0 .6rem;
    position: relative;

    &:hover {
      .user__name {
        opacity: 1;
      }
    }
  }

  .live-player__lobby__user--moderator {
    .avatar {

      img {
        border: 2px solid $comp-green;
        box-shadow: rgba($comp-green, 0.45) 0 2px 8px;
      }

      &::after {
        color: $comp-green;
      }
    }
  }

  .user__name {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    color: $comp-teal-dark;
    background-color: #fff;
    font-weight: bold;
    text-transform: lowercase;
    border-radius: 10px;
    padding: .3em 1.5em;
    box-shadow: rgba($comp-blue-off, .4) 0 4px 25px;
    transition: opacity .1s ease;
    // Set in middle and bump up a little
    transform: translate(-50%, -80px);
    z-index: 10;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -6px;
      left: calc(50% - 6px);
      @include arrow($direction: 'down', $size: 6px, $color: #fff, $equilateral: false);
    }
  }
}
