/* =CREDIT CARDS

TODO: Convert to SVG symbol sheet.
--------------------------------------------- */

.cc-logo {
  background: url('/images/credit-card-logos.svg') no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;

  &--visa {
    background-position: -103px -72px;
    width: 35px;
  	height: 23px;
  }

  &--mastercard {
    background-position: -207px -72px;
    width: 34px;
  	height: 23px;
  }

  &--american-express {
    background-position: -207px 0;
    width: 34px;
  	height: 23px;
  }

  &--discover {
    background-position: -51px -72px;
    width: 35px;
  	height: 23px;
  }
}
