/* =FOOTER BLOCK

  Off white block, mostly on bottom of content pages, with centered
  serif text.
---------------------------------------- */

.footer-block {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 1.2em;
  font-family: $serif;
  padding: $lineheight*3 5%;

  p {
    margin: 0 auto;
    max-width: 50rem;
  }

  a {
    &:hover {
      @include underline($size: 2, $color: rgba($link-color, .7), $offset: .15);
    }
  }
}
