.settings-form {
  $inset: 1.5rem;

  margin-bottom: $lineheight*2;

  h1 {
    font-weight: bold;
    font-family: $sans;
    font-size: to_rem(24);
    color: $comp-teal-dark;
    margin-bottom: 1rem;

    @include handheld {
      text-align: center;
    }
  }

  .setting-inactive {
    transition: opacity .3s ease;
    opacity: .3;
  }

  .input-row .input-row__item {
    margin-right: 2rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  textarea {
    &.settings-form__input--long {
      font-size: to_em(23);
    }
  }

  input[type="checkbox"] {
    vertical-align: text-top;
    margin-right: .5em;
  }

  &__help-trigger {
    display: inline-block;
    background-color: $comp-blue-light;
    border: 1px solid $main-border-color;
    border-radius: 100%;
    width: 1.2em;
    height: 1.2em;
    line-height: 1em;
    text-align: center;
    color: lighten($comp-teal-dark, 10%);
    transition: color .2s ease, border-color .2s ease;
    margin-left: 2px;

    .icon {
      position: relative;
      top: -1px;
      font-size: .55rem;
    }

    &:hover {
      background-color: #fdfdfd;
      border-color: $comp-blue;
    }
  }

  &__header {
    display: flex;
    margin-bottom: 6px;
  }

  &__label {
    color: lighten($comp-teal-dark, 5%);
    font-size: .85rem;
    font-weight: bold;
    font-family: $sans;
    margin-bottom: 5px;
    flex: 1;

    &--aside {
      flex: 1;
      font-size: .85rem;
      color: $grey-tint;
      text-align: right;
    }
  }

  .status-icon {
    position: absolute;
    right: 1rem;
    top: calc(50% - 15px);
    font-size: to_rem(18);

    &--positive {
      color: $positive;
    }
    &--negative {
      color: $negative;
    }
  }

  // Wrapper for different kinds of input fields
  &__field {
    position: relative;
    display: flex;
    border: 1px solid $main-border-color;
    padding: 5px;
    border-radius: 4px;

    & + .settings-form__field {
      margin-top: $lineheight;
    }

    &--focused {
      border-color: $comp-green;
    }

    &--inset {
      padding: #{$inset / 2};
    }

    &--large {
      padding: 1rem;
    }

    .settings-form__field__label {
      color: lighten($comp-teal-dark, 5%);
      position: absolute;
      top: -1.6ex;
      left: calc(#{$inset / 2} - 2px);
      background-color: #fff;
      padding: 0 6px;
      font-size: .9rem;
    }

    .settings-form__field__input {
      font-size: 1rem;
      padding: #{$inset / 2};
      padding-right: 5px;
      border: 0;
      color: rgba($comp-teal-dark, .9);
      box-shadow: none;
      background-color: #fff;
      margin: 0;
      flex: 1;

      &--thin {
        flex: 0.5;
      }

      &--disabled {
        color: rgba($comp-teal-dark, .6);
      }

      &:focus {
        box-shadow: none;
        color: $comp-teal-dark;
      }

      @include placeholder {
        color: $grey-tint;
      }
    }

    .settings-form__field__submit {
      font-size: 1.1em;
      box-shadow: none;
    }

    @include handheld {
      .settings-form__field__input {
        padding: $inset / 3;
      }

      .settings-form__field__submit {
        font-size: 1em;
        padding: .8em;
      }
    }
  }

  &__section {
    border-bottom: 1px solid $main-border-color;
    position: relative;
    margin-bottom: $lineheight;
    padding-bottom: $lineheight;

    &--inset {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &--last {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &--slim {
      border-bottom: 1px solid $main-border-color;
      position: relative;
    }
  }

  &__container {
    @include box;
    padding: $inset*1.5 $inset $inset;
    margin-bottom: $lineheight;

    @include handheld {
      padding: $inset $inset / 2;
    }

    & > .settings-form__section:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .input-row__item p {
    margin: 0;
  }

  &__summary-list {
    @include clearfix;
    color: $comp-teal-dark;
    font-size: 1.1em;
    text-align: left;

    dt, dd {
      float: left;
      margin: 0;
    }

    dd {
      font-weight: bold;

      .subtle {
        font-weight: normal;
      }
    }

    dt {
      clear: both;
      min-width: 160px;
      margin-right: 1rem;
      font-weight: 300;
    }
  }

  &__text {
    margin-bottom: 0;
    font-size: to_em(20);
    font-weight: 300;

    &--spaced {
      display: flex;
      justify-content: space-between;
    }

    &--detail {
      font-weight: normal;
      font-size: to_em(14);
      color: $grey-dark;
    }
  }

  &__submit {
    margin: $lineheight #{-$inset / 2} #{-$inset / 2};

    .btn {
      border-radius: 4px;
      width: 100%;
      font-size: 1.4em;
      padding: 1em 5%;
    }
  }

  &__listing {
    @include list-reset;
    font-size: 1rem;
    color: $comp-teal-dark;

    &:not(:last-child) {
      margin-bottom: $lineheight;
    }

    & > li {
      display: flex;
      align-items: center;
      padding: .4em $inset;

      &:hover {
        background-color: rgba($grey-tint, .08);
      }

      &:not(.is-owner) {
        .list__actions {
          visibility: hidden;
        }

        &:hover {
          .list__actions {
            visibility: visible;
          }
        }
      }
    }

    .avatar {
      width: 32px;
      vertical-align: middle;
    }

    .list__avatar {
      margin-right: 1rem;
    }

    .list__name,
    .list__email {
      flex: 1;
    }

    .list__username {
      flex: 1;
      color: rgba($comp-teal-dark, .7);
      font-style: italic;
    }

    .list__email {
      color: rgba($comp-teal-dark, .7);
    }

    .list__actions .dropdown__trigger, .list__role .dropdown__trigger {
      flex: 1;
      text-align: right;
      font-size: .9em;
    }

    .list__actions {
      a {
        color: darken($comp-blue, 10%);
      }
    }

    .list__role {
      flex-basis: 100px;
    }

    @include handheld {
      font-size: to_rem(14);

      .list__name,
      .list__email {
        @include truncate($max: 100px);
      }

      .list__actions {
        visibility: visible;
      }

      .avatar {
        width: 26px;
      }

      li {
        padding-top: .6em;
        padding-bottom: .6em;

        &:not(.is-owner) {
          // Always visible on mobile.
          .list__actions {
            visibility: visible;
          }

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
