/*
      Emojis
*/

.emoji {
  /* Emoji Sizing */
  font-size: inherit;
  height: 2.7ex;
  min-width: 15px;
  min-height: 15px;

  /* Inline alignment adjust the margins  */
  display: inline-block;
  margin: -0.4ex .15em 0;
  line-height: normal;
  vertical-align: middle;
}
