.introductioninvited {
  
  [role="main"] {
    @include center(all);
    max-width: 30rem;
    margin: 0 auto;
    width: 95%;

    figure {
      max-width: 16rem;
      margin-bottom: $lineheight*2;
    }

    h1 {
      font-weight: bold;
      font-size: to_rem(60);
    }

    p {
      font-size: 1.2em;
      line-height: 1.8;
      color: $grey-dark;
      margin-bottom: $lineheight*2;

      strong {
        color: #555;
      }
    }

    .btn {
      width: 13rem;
    }
  }
}
