/* =NOTIFICATIONS
---------------------------------------- */

.notification-trigger {
  font-size: 1.1rem;
  transition: color .2s ease;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &.notification-trigger--active {
    .icon {
      color: darken(desaturate($grey-tint, 25%), 30%);
    }
  }

  .icon {
    transform-origin: center top;
  }

  &.notification-trigger--unread {
    .icon {
      color: darken($comp-blue, 10%);
    }

    &:hover {
      .icon {
        color: darken($comp-blue, 20%);
      }
    }
  }

  .notifications__unread-count {
    font-size: .65em;
    width: 1.3em;
    line-height: 1.5em;
    position: absolute;
    right: 0;
    top: 7px;
    box-shadow: rgba(#000, .1) -1px 1px 1px;
  }
}

.notifications-dropdown {
  padding: 0;
  width: 400px;
  height: 80vh;

  @include smaller-than(410px) {
    width: 100% !important;
    left: 0 !important;
  }
}

.notifications {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  text-align: left;
  overflow: hidden;
  border-radius: 4px;

  @include handheld {
    max-width: 95%;
  }

  &--show {
    transform: none;
    box-shadow: rgba(#000, .1) -1px 0 7px;
  }

  &__blank {
    @include center(all);
    padding: 5%;
    flex: 1;
    color: $comp-teal-dark;

    h2 {
      font-family: $sans;
      font-weight: 300;
      margin-bottom: 0;
    }

    p {
      color: #888;
      font-size: 1.1em;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-mobile-height;
    padding: 0 1rem;
    line-height: 1.4;
    border-bottom: 1px solid $grey-light;

    h2 {
      font-family: $sans;
      font-size: 1.1rem;
      margin: 0;
      flex: 1;
    }

    .notifications__unread-count {
      margin-right: .5rem;
    }

    .notifications__clear {
      color: $grey-dark;
      font-weight: normal;
      font-size: .9em;
    }
  }

  // Button in list

  &__load-more {
    display: block;
    padding: 1em .5em;
    text-align: center;
    color: $grey-dark;

    &:hover {
      color: darken($grey-dark, 15%);
      background-color: #fafafa;
    }
  }

  &__unread-count {
    cursor: default;
    background-color: $comp-blue;
    background-image: linear-gradient(lighten($comp-blue, 5%), saturate($comp-blue, 10%));
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    line-height: 1.6em;
    width: 1.5em;
    text-align: center;
    font-size: .9em;
    position: relative;
    top: -1px;
  }

  &__close {
    color: rgba($comp-teal-dark, .6);
    transition: color .2s ease;
    cursor: pointer;

    &:hover {
      color: $comp-teal-dark;
    }

    @include handheld {
      font-size: .9rem;
    }
  }

  &__list {
    @include list-reset;
    overflow-y: scroll;
    flex: 1;
    -webkit-overflow-scrolling: touch;
  }
}

.notification {
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem;
  font-size: .9em;
  border-bottom: 1px solid $grey-light;
  position: relative;

  &--linked {
    cursor: pointer;

    &:hover {
      background-color: rgba($grey-tint, .08);

      .notification__actions,
      .notification__meta {
        color: rgba($comp-teal-dark, .7);
      }
    }
  }

  @include handheld {
    padding: 15px 1rem;
  }

  &--new {
    &::after {
      position: absolute;
      display: block;
      top: 7px;
      left: 7px;
      content: '';
      width: 6px;
      height: 6px;
      background-color: $comp-blue;
      border-radius: 100%;
    }
  }

  &--unvisited {
    background-color: #f9f9f9;
  }

  & &__explanation {
    margin: .5rem 0 1rem;
    font-size: .9em;
    color: #555;
    padding-right: 1rem;
  }

  & &__tools {
    margin: .5rem 0;
    font-size: .9em;
    color: $grey-dark;

    .btn {
      font-size: 1.1em;
      padding: .4em 1em;
      // Truncate
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .icon {
        margin-right: 0;
        font-size: .8em;
        margin-left: 4px;
      }
    }
  }

  & ul.notification__tools {
    list-style: none;
    padding: 0;

    .btn {
      text-align: left;
    }

    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  & &__object {
    font-style: italic;
  }

  & &__content {
    flex: 1;
    margin-left: 1rem;
  }

  & &__meta {
    color: $grey-dark;
    font-size: .9em;
  }

  & &__avatar {
    .avatar {
      @include handheld {
        width: 32px;
        height: 32px;
      }
    }
  }

  & &__actions {
    color: $grey-dark;

    strong, a {
      color: $comp-teal-dark;
    }

    a {
      font-weight: bold;
    }
  }

  & &__text {
    h1, h2, h3, h4, h5, h6 {
      font-family: $sans;
      font-weight: bold;
      font-size: 1em;
      margin-bottom: 0;
      margin-top: .5em;
    }

    p, ul, ol, blockquote {
      margin-bottom: 5px;
    }

    .mention--you {
      display: inline;
      background: transparent;
      box-shadow: none;
      padding: 0;
    }

    a {
      @include truncate($max: 65%);
      // Something fucks up in Chrome with inline-block in
      // flowing text.
      line-height: .9;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
