/* =NOTIFICATION SETTINGS
------------------------------------*/

.changenotificationsettings {

  body {
    height: 60vh;
    @include center(all);
    color: #555;
  }

  h1 {
    font-family: $sans;
    font-weight: 300;
  }

  .response-msg {
    font-size: 1.1em;
    color: #777;

    strong {
      color: $text-color;
    }
  }

  .icon {
    position: relative;
    top: -.1em;
    font-size: .8em;
    margin-right: .4em;

    &-check {
      color: $positive;
    }

    &-cross {
      color: $negative;
    }
  }

  .logo-container {
    margin-top: $lineheight*2;

    .lookback-logo {
      .logo__swirl,
      .logo__text {
        fill: $grey-tint;
      }

      &:hover {
        .logo__swirl,
        .logo__text {
          fill: darken($grey-tint, 10%);
        }
      }
    }

    .lookback-mark {
      width: 4em;
      height: 2em;
      fill: $grey-dark;

      &:hover {
        fill: $accent;
      }
    }
  }
}
