/*= TEAM SETTINGS
---------------------------------- */

.teamsettings {

  [role="main"] {
    margin-top: $lineheight;
  }

  .settings-section {
    margin-bottom: $lineheight*2;
  }

  .team-settings {

    &__nav {
      margin-bottom: -1px;
      margin-left: 1rem;

      .nav__bubble {
        background-color: rgba(#fff, .8);
        color: #777;
        transition: background-color .15s ease,
                    color .15s ease;
      }

      li:not(.nav--current) a:hover .nav__bubble {
        background-color: #fff;
        color: #333;
      }

      .nav--current .nav__bubble {
        transition: none;
        background-color: #577daa;
        color: #fff;
      }
    }

    &__token {
      input[type="text"] {
        color: $grey-dark;

        &:focus {
          color: $text-color;
        }
      }
    }

    &__manage {
      color: darken($comp-blue, 10%);
    }
  }

  .settings-form {
    @include wrap($max-width: to_rem(800));

    @include handheld {
      width: 95%;
    }
  }

  .refresh-token__actions {
    padding: .4rem .5rem;
    width: 100%;

    .btn:last-child {
      margin-left: .5rem;
    }

    p {
      color: $grey-dark;
      margin-bottom: 0;
    }
  }

  .team-settings__invite-form {
    margin-bottom: $lineheight / 2;
    padding: 0;

    .settings-form__field__input {
      padding: 1.5rem;
    }

    .settings-form__field__submit {
      margin: 1rem;
    }

    input[type="email"] {
      font-size: 1.2rem;
    }

    a.dropdown__trigger {
      color: $comp-teal-dark;
    }

    .role-label {
      color: #95abb0;
      margin-right: 0.5rem;
    }
  }

  .team-settings-overview {
    .team-list {
      max-width: 80%;
    }
  }

  .team-settings-members {
    margin-bottom: $lineheight*2;

    .team-member--self {
      font-weight: bold;
    }

    &__list {
      margin-right: -1.5rem;
      margin-left: -1.5rem;

      .member__invited {
        color: $grey-tint;
      }

      li:hover {
        .dropdown__trigger {
          color: $comp-teal-dark;

          &:hover {
            color: $link-color;
          }
        }
      }
    }

    .dropdown__trigger {
      color: rgba($comp-teal-dark, .6);
      transition: color .2s ease;

      &:hover {
        color: $link-color;
      }

      &.dropdown--open {
        color: $link-color;
      }
    }
  }
}

.settings-integrations {
  $inset: 30px;

  h2 {
    font: bold #{to_rem(32)}/1 $sans;
    color: $comp-teal-dark;
    margin-bottom: $lineheight;
  }

  .settings-integrations__list {
    @include list-reset;
    margin-bottom: $lineheight;
    color: darken($grey-tint, 15%);

    strong {
      color: $comp-teal-dark;
      font-style: italic;
    }

    li {
      margin-bottom: 1rem;
      position: relative;
      padding-left: $inset;

      &:hover {
        .integration__remove {
          opacity: 1;
        }
        .custom-icon--checkmark {
          color: mix($positive, lighten($grey-tint, 5%), 60%);
        }
      }
    }
  }

  .custom-icon--checkmark {
    transition: color .2s ease;
    color: mix($positive, lighten($grey-tint, 5%), 30%);
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 1rem;
  }

  .integration__name {
    font-family: $sans;
    font-size: 1.4em;
    font-weight: normal;
    color: #444;
    margin: 10px 0;
  }

  .integration__icon {
    font-size: .8em;
    color: rgba($grey-tint, .7);
    margin-right: 10px;
    position: relative;
    top: -3px
  }

  .integration__add-new {
    .form-label {
      color: darken($grey-dark, 20%);
    }
  }

  .integration__desc {
    font-size: 1.2em;
    margin: 0;
  }

  .integration__remove {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .3;
    color: $grey-tint;
    font-size: 1.1rem;
    transition: opacity .2s ease;

    &:hover {
      color: $negative;
    }
  }

  .integration__error {
    margin-bottom: .8rem;
    border-left: 2px solid $negative;
    padding-left: 1rem;
    color: #666;
    font-style: italic;
  }

  .integration__setting {
    margin-left: .5rem;

    input[type="checkbox"] {
      vertical-align: middle;
    }
  }

  label.integration__setting {
    font-weight: normal;
    display: inline-block;
    font-size: 1em;
  }

  .integration__meta {
    font-size: .9em;
    color: #777;
    margin: 0;
    transition: opacity .2s ease;

    .integration__added-by {
      font-weight: bold;
      color: #333;
      font-size: 1.1em;
    }

    time {
      color: #555;
    }

    .avatar {
      width: 16px;
      margin-left: 2px;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }
}

.modal-transfer-ownership {
  // This modal is embedded inside of a settings pane,
  // so we reset the font size.
  font-size: 1rem;

  &__desc {
    color: $grey-dark;
    margin: 0 auto;
    max-width: to_rem(400);
  }

  .modal__inner {
    display: flex;
    flex-direction: column;
    max-width: none;
  }

  h2 {
    color: lighten($text-color, 40%);
    margin-bottom: .5rem;
    font-size: to_rem(16);
  }

  h3 {
    font-size: to_rem(18);
  }

  .btn {
    min-width: 250px;
  }

  .modal__search {
    margin-bottom: $lineheight;
  }

  .modal__users {
    min-height: 71px;
    height: 200px;
    padding: 5px;
    margin: $lineheight 0 $lineheight*2 4rem;
    overflow-y: scroll;
    width: to_rem(500);
  }
}

.settings__table {
  td, th {
    padding: 0.5rem;
    border: 1px solid #666;
  }
}
