/* The sign in form in the webapp.
--------------------------------------------- */

.webapp-auth {
  text-align: center;
  padding-top: $lineheight*2;
  width: 100%;

  h1, h2 {
    color: $comp-teal-dark;
    font-family: $sans;
  }

  h1 {
    font-weight: 300;
    font-size: to_rem(32);
    margin: 0;
  }

  h2 {
    font-size: to_rem(18);
    color: $comp-blue-faded;
  }

  .form__highlight {
    background-color: #fff;
  }
}
