/* =SIDEBAR
--------------------------------------------- */
@keyframes sidebar-pulse {
  100% {
    opacity: .8;
  }
}

.dashboard-sidebar {
  $color: #61BBE8;
  $background: #174D68;

  background-color: $background;
  color: #fff;
  padding: $webapp-sidebar-spacing;
  min-width: $webapp-sidebar-width;
  font-size: 1.1em;
  overflow-y: scroll;
  transition: opacity .2s ease,
              transform .3s ease-out;

  @include smaller-than(910px) {
    display: none;
  }

  &.off-screen {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }

  &.loading {
    animation: sidebar-pulse .5s infinite alternate linear;
  }

  .sidebar-affix.affix {
    position: fixed;
    top: 11px;
    width: calc(#{$webapp-sidebar-width} - #{$webapp-sidebar-spacing*2});
  }

  h2 {
    font: normal #{to_rem(13px)}/1.5 $sans;
    color: darken($grey-dark, 5%);
    margin-bottom: 5px;
  }

  h3 {
    font-family: $sans;
    margin-bottom: $lineheight / 3;
    text-transform: uppercase;
    font-size: to_em(11);
    font-weight: bold;
    letter-spacing: 1px;
    color: darken($color, 10%);

    .icon {
      margin-right: 3px;
      font-size: 1.3em;
      position: relative;
      top: -1px;
    }
  }

  .projects__list {
    $item-active-bg: #58B2F1;

    @include list-reset;
    margin: 0 #{-$webapp-sidebar-spacing} $lineheight;

    &.projects__user {
      margin-bottom: 0;
    }

    &.projects__user {
      .project-item:hover,
      .project-item.dropdown--open {
        .project__unseen {
          display: none;
        }
      }
    }

    .project-item {
      position: relative;
      display: flex;
      color: rgba(#fff, .8);
      transition: color .2s ease;
      border-radius: 0 4px 4px 0;
      margin-right: 8px;

      &:hover,
      &.dropdown--open {
        color: #fff;

        .project__icon {
          color: lighten($comp-blue, 20%);
        }

        // Show dropdown trigger button
        .dropdown__trigger {
          display: inherit;
        }
      }

      &.drag--over {

      }

      &.is-dragging {
        .project__icon {
          .icon {
            transform: scale(1.2);
            color: $text-color;
          }

          &::after {
            transform: none;
            opacity: 1;
          }
        }

        > * {
          pointer-events: none;
        }
      }

      &.nav--current,
      &.nav--current:hover {
        background-color: $item-active-bg;
        font-weight: bold;
        box-shadow: inset darken($item-active-bg, 15%) 0 -2px 0;
        color: #fff;

        .project__icon,
        .project-item__project,
        .project__unseen,
        .project__live-count {
          color: currentColor;
        }

        .nav__bubble {
          background-color: #fff;
          color: $item-active-bg;
        }
      }

      &.nav--current .dropdown__trigger {
        color: rgba(#fff, .8);

        &:hover {
          background-color: darken($comp-blue, 6%);
          color: #fff;
          box-shadow: inset darken($comp-blue, 12%) 0 -1px 2px;
        }

        &.dropdown__trigger--open {
          background-color: darken($comp-blue, 12%);
          color: #fff;
        }
      }

      .project-item__project {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px $webapp-sidebar-spacing;
        padding-right: .7rem;
        flex: 1;
        color: currentColor;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .project__live-count {
      color: #00AAF5;
      font-size: to_rem(13);

      .icon {
        margin-right: -2px;
        position: relative;
        top: -.2ex;
      }
    }

    .project__icon {
      font-size: 1.1em;
      margin-right: 10px;
      color: $comp-blue;
      position: relative;

      .icon {
        transition: transform .2s cubic-bezier(0.29, 1.26, 0.28, 1.41);
        position: relative;
        top: -3px;
        z-index: 2;
      }
    }

    .project__count {
      font-size: to_rem(13);
      vertical-align: text-top;
      width: 16px;
      text-align: center;
      display: inline-block;
      font-weight: bold;

      &.nav__bubble {
        width: auto;
        background-color: #306884;
        color: #87c8e8;
      }
    }

    .project__unseen {
      color: rgba($text-color, .4);
      transition: color .15s ease-out;
    }

    .project__name {
      @include truncate($max: 140px);
      position: relative;
      top: -3px;
      vertical-align: middle;
    }

    .dropdown__trigger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3em;
      padding: 0 10px;
      cursor: pointer;
      display: none;
      border-radius: 0 4px 4px 0;

      &:hover,
      &.dropdown__trigger--open {
        color: $text-color;
        background-color: #fff;
      }
    }

    .dropdown {
      text-align: left;
      border-width: 0;

      [role="menuitem"] > a {
        padding-left: .7rem;

        .icon {
          top: -2px;
          margin-right: .3rem;
        }
      }
    }

    .project-item--deleting {
      .btn {
        flex: 1;
        width: 50%;
        border-radius: 0;
        padding: 10px;
      }
    }
  }

  .project-form {
    width: 100%;

    input[type="text"] {
      margin: 0;
      border: 0;
      width: 100%;
      border-radius: 0;
      // pixelfucking
      padding: 11px $webapp-sidebar-spacing 12px;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .edit-project-dropdown {
    .dropdown__arrow.dropdown__arrow--right {
      right: -10px;
    }
  }

  .new-project-help-bubble {
    color: #aaa;
    margin-left: 4px;

    &:hover {
      color: #666;
    }
  }

  .highlights-list {
    color: $color;
    font-size: .9em;
    position: fixed;
    left: $webapp-sidebar-spacing;
    bottom: $webapp-sidebar-spacing;

    &__list {
      @include list-reset;
      margin-left: 1rem;
      margin-bottom: $lineheight / 2;
    }

    a {
      color: $color;
      @include truncate($max: 100%);

      &:hover {
        color: lighten($color, 10%);
      }
    }
  }
}
