@import "lookback-mixins.scss";
@import "lookback-animations.scss";

/*
 * VARIABLES
 */

$dark:                  #2E3234;
$greenHighlight:        #C0392B; // .. but it's Phoenix red :PpPppPpP
$highlight:             #34A7F4; // blue
$red:                   #CF4C62;
$greenLight:            lighten($greenHighlight, 5%); // "content-3"
$greenLighter:          #E9EBEC;  // off-blue
$greenLightest:         #f5f5f5;  // Off-white

$borderColor:           #B4C7D4; // Dirty blue
$borderColorGreen:      #CCDEEB; // Light dirty blue

$sansFontFamily:              "Helvetica Neue", Helvetica, Arial, sans-serif;
$headingsFontFamily:          $sansFontFamily;
$headingsItalicFontFamily:    $sansFontFamily;
$headingsLightFontFamily:     $sansFontFamily;

$serifFontFamily:              "Playfair Display", Times, serif;

$baseBorderRadius:      4px;
$borderRadiusLarge:     6px;
$borderRadiusLarger:    10px;
$linkColor:             $red;

$fullPageTextColor:     #fff;
$dimmedText: #919FA8;

// Phoenix

$comp-blue:          lighten(saturate(#3498DB, 20%), 5%);
$comp-green:         #30CD72;
$comp-yellow:        #F1C330;

$off-white:          #f5f5f5;
$grey:               #c3c3c3;
$grey-dark:          #899AA3;
$grey-light:         #eee;

$positive:           #59CF5D;
$negative:           #CF4C62;

/*
 * Z-INDEX
 */

$filterZ: 1001;
$drawerZ: 1003;
$backdropZ: 1002;
$appMenuZ: 1000;
$contentZ: 1004;


/*
 * Media queries breakpoints
 */

$screenPhoneSize:            480px;
$screenPhone:                "(max-width: #{$screenPhoneSize})";

$screenTabletSizeMin:        481px;
$screenTabletSizeMax:        767px;
$screenTablet:               "(max-width: #{$screenTabletSizeMax})";
$screenTabletOnly:           "(max-width: #{$screenTabletSizeMax}) and (min-width: #{$screenTabletSizeMin})";
$screenTabletAndAbove:       "(min-width: #{$screenTabletSizeMin})";

$screenDesktopSizeMin:       768px;
$screenDesktopSizeMax:       979px;
$screenDesktop:              "(max-width: #{$screenDesktopSizeMax})";
$screenDesktopOnly:          "(max-width: #{$screenDesktopSizeMax}) and (min-width: #{$screenDesktopSizeMin})";
$screenDesktopAndAbove:      "(min-width: #{$screenDesktopSizeMin})";

$screenMacbook13:            "(max-width: 1525px)";
$screenMacbookAndAbove:      "(min-width: 1525px)";

$screenLargeDesktopSize:     1200px;
$screenLargeDesktop:         "(min-width: #{$screenLargeDesktopSize})";

$screenHugeDesktopSize:      1700px;
$screenHugeDesktop:          "(min-width: #{$screenHugeDesktopSize})";

// Collapse the navbar for phones only
$navbarCollapseWidth:        $screenPhoneSize;


.entypo {

  &.inline {
    position: relative;
    top: 2px;
    padding: 0 1px;
  }

  &.green {
    color: $greenHighlight;
  }

  &.clickable {
    $textColor: $grey;
    color: $textColor;

    &:hover {
      color: saturate(darken($textColor, 10%), 2%);
    }

    &:active {
      color: saturate(darken($textColor, 20%), 2%);
    }

  }
}

// FIXES

.webapplayout {

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-menu {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  @media (max-width: 767px) {
    &.player body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// END FIXES

@import "lookback-recordings";
@import "lookback-settings";
@import "lookback-components";
@import "lookback-utilities";
@import "lookback-flower";
