/*
 * UTILITIES
 */

// Fake element used to set the page's title
#page-title {
  display: none;
}

.click-to-close {
  cursor: pointer;

  div {
    cursor: default;
  }
}

.relative {
  position: relative;
}

.breaker {
  clear: both;
}

.vertical-margin {
  margin-top: 35px;
}

.vertical-margin-medium {
  margin-top: 15px;
}

.vertical-margin-mini {
  margin-top: 20px;
}

.vertical-margin-large {
  margin-top: 60px;
}

p.vertical-margin {
  margin-top: 8px;
}

p.vertical-margin-mini {
  margin-top: 4px;
}

p.smaller {
  font-size: 13px !important;
}

p.larger {
  font-size: 18px !important;
}

.horizontal-margin-mini {
  margin-left: 4px;
}

.horizontal-margin-small {
  margin-left: 10px;
}

.horizontal-margin-medium {
  margin-left: 18px;
}

.horizontal-margin-large {
  margin-left: 30px;
}

.horizontal-margin-huge {
  margin-left: 45px;
}

.no-margin {
  margin: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.centered {
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.rotateC90 {
  transform: rotate(90deg);
}

.link {
  color: $linkColor;
  cursor: pointer;

  &:hover {
    color: darken($linkColor, 10%);
  }
}

.full-height {
  height: 100%;
}

p.larger {
  font-size: 17px;
}

input.part-of-page,
textarea.part-of-page {
  background: transparent !important;
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  resize: none;
  overflow: hidden;
  border-radius: 0;

  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    box-shadow: none !important;
  }
}

textarea.part-of-page {
  width: 100%;
}

.opaque {
  opacity: 0;
}

.grab {
  @include grab();
}

.grabbing {
  @include grabbing();
}

.upper-roman {
  list-style-type: upper-roman;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.comma-separated {
  &:after {
    content:", ";
  }

  &:last-child:after {
    content: "";
  }
}
