/*
  SETTINGS
*/

#settings {
  margin: 60px 20px 30px;

  @media #{$screenPhone} {
    input[type="text"] {
      box-sizing: border-box;
      width: 100%;
    }
  }

  h1 {
    margin: 10px 0 28px;
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }

  label[for] {
    font-weight: 600;
  }

  .avatar {
    width: 24px;
    border-radius: 100%;
    margin-right: 10px;
    background: $greenLight;
  }

  .add-new-form {
    margin: 15px 0 3px 0;

    a {
      margin-left: 8px;
    }
  }

  .delete-org {
    @media #{$screenPhone} {
      margin-bottom: 40px;
    }
  }

  table {

    th {
      font-family: $headingsItalicFontFamily;
      text-align: left;
      font-weight: normal;
      padding-bottom: 14px;
      font-size: 14px;
      opacity: .65;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }

    @media #{$screenTabletAndAbove} {
      tr:hover .on-hover {
        text-indent: 0;
      }
    }

    td {
      padding-right: 24px;

      &.new {
        padding-top: 3px;
        padding-bottom: 0;
      }

      &.delete, &.owner {
        text-align: center;
      }

      @media #{$screenTabletAndAbove} {
        &.on-hover {
          text-indent: -999em;
        }
      }

      &.owner {
        font-style: italic;
        opacity: .7;
      }
    }

    tr:last-child {

      td {
        padding-bottom: 0;
      }
    }
  }

  .team-members {
    color: #797C72;
  }

  .team-members {

    @media #{$screenTabletAndAbove} {
      .primary {
        white-space: nowrap;
        min-width: 150px;
      }
    }

    .avatar {
      opacity: .8;
      vertical-align: middle;
      position: relative;

      @media #{$screenPhone} {
        display: none;
      }
    }
  }
}

