/* =SIGN IN/UP
--------------------------------------------- */

.form-accounts {

  &.form-accounts--wizard {
    margin: $lineheight*2 0;

    .form__highlight {
      background-color: #fff;
    }

    .form__description {
      margin-top: $lineheight;
      color: darken($comp-blue-faded, 7%);

      > p {
        max-width: 35rem; // override
        margin-bottom: 1rem;

        strong {
          color: $comp-teal-dark;
        }
      }

      &--large {
        font-size: 1.3em;
        margin-top: $lineheight*2;
        color: darken($comp-blue-faded, 13%);
      }
    }

    .form__btn-row {
      margin-bottom: 0;

      .btn {
        min-width: 250px;
      }
    }
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    font-size: to_rem(18);
    padding: 1rem 0;
    margin: 0;
    color: $comp-teal-dark;

    @include placeholder {
      color: rgba($comp-teal-dark, .5);
    }
  }

  label {
    font-weight: normal;
  }

  > div {
    p {
      margin: 0 auto;
      position: relative;

      @include larger-than($handheld) {
        max-width: 250px;
        width: 80%;
      }
    }
  }

  .signup__terms {
    color: rgba($comp-teal-dark, .7);
  }

  .form-accounts__icon {
    color: rgba($comp-teal-dark, .5);
    font-size: 1.1rem;
    position: absolute;
    left: -2.5rem;
    top: calc(50% - 15px);

    @include handheld {
      left: 0;
    }
  }

  .form__highlight--hover .form-accounts__icon {
    color: $comp-teal-dark;
  }

  .form__btn-row {
    max-width: 20rem;
    width: 80%;
    margin: $lineheight auto;

    &--submit {
      max-width: 23rem;
      margin-bottom: 0;
    }

  }

  .btn.form-accounts__call-action {
    width: 100%;
    font-size: to_rem(20);
    padding: 0.5em 1.5rem;
    margin-bottom: 1rem;
  }

  .signup__forgot-password {
    transform-origin: top;

    p {
      text-align: left;
      font-size: to_rem(12);
      color: darken($grey-dark, 20%);
    }
  }

  .form__row {
    padding: 1rem 0;
    border-bottom: 1px solid $grey-light;

    &.form_row--checkbox {
      // Container for label+checkbox
      p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .form-accounts__msg {
    position: absolute;
    right: 5px;
    top: calc(50% - 12px);

    &--positive {
      color: $positive;
    }
    &--negative {
      color: $negative;
    }
  }

  // Feedback row in vertical forms.
  .form__feedback {
    text-align: left;
    font-size: .9em;
    padding: 5px 0;

    &[data-goto-error] {
      cursor: pointer;
    }

    &__inner {
      max-width: 25rem;
      margin: 0 auto;
      width: 80%;
      position: relative;
    }

    &--negative {
      background-color: $negative;
      color: #fff;

      & + .form__highlight--hover {
        border-top-color: transparent;
      }
    }

    .icon {
      top: -1px;
      position: relative;
      margin-right: 4px;
    }
  }

  .form-accounts__help-bubble {
    position: relative;
    background-color: $comp-blue;
    color: #fff;
    border-radius: 5px;
    padding: 1rem;

    &.with-arrow {
      &::after {
        display: block;
        content: '';
        position: absolute;
        left: calc(50% - 10px);
        bottom: -10px;
        @include arrow($size: 10px, $color: $comp-blue, $direction: down, $equilateral: false);
      }
    }

    a {
      color: #fff;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .account__fail {
    background-color: rgba($off-white, .5);
    font-size: 1.1rem;
    margin-bottom: $lineheight;

    h2 {
      padding-top: $lineheight*2;
      font-weight: bold;
      font-size: to_rem(34);
      margin-bottom: 0;

      @include handheld {
        font-size: 6vw;
      }
    }

    p {
      padding-bottom: $lineheight*2;
      font-family: $serif;
    }

    @include larger-than($handheld) {
      p {
        max-width: 25rem;
      }
    }
  }
}

/* =SIGNUP
--------------------------------------------- */

.form-signup {
  .email-container {
    position: relative;
  }

  .signup__avatar {
    width: 72px;
    margin: -$lineheight auto $lineheight;
  }

  .email__avatar {
    $size: 24px;

    position: absolute;
    right: 5px;
    width: $size;
    top: calc(50% - #{$size / 2});
  }

  input[type="email"] {
    padding-right: calc(2rem + 5px);
  }
}

.register,
.registerfromtoken {

  @include handheld {
    .form-accounts {
      input[type="email"],
      input[type="password"],
      input[type="text"] {
        padding-left: 2.5rem;
      }
    }
  }
}

.register {
  [role="main"] {
    h1 {
      font-size: to_rem(56);
      margin-bottom: 0;
      line-height: 1.1;
    }

    h2 {
      font-size: to_rem(20);
      margin-bottom: $lineheight*2;
    }

    @include handheld {
      h1 {
        font-size: 10vw;
      }
      h2 {
        font-size: 5vw;
      }
    }
  }
}

/* =SIGNUP FROM TOKEN
--------------------------------------------- */

.registerfromtoken {
  [role="main"] {
    h1 {
      font-weight: normal;
      margin: 0 auto $lineheight*2;

      em {
        white-space: nowrap;
      }
    }
  }
}

.signup__existing-account {

  h2 {
    font-size: to_rem(16);
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $lineheight;

    h2 {
      font-family: $sans;
      font-weight: 300;
      margin: 0;
      padding: 0 !important; // sorryyy
      margin-left: 1rem;
      text-align: left;
    }
  }

  &__explanation {
    max-width: to_rem(500);
    color: #777;
    margin: 0 auto $lineheight;
  }

  &__actions {
    color: $grey-dark;
    display: flex;
    flex-direction: column;

    p {
      margin: 5px 0;
    }
  }
}


/* =SIGNIN
--------------------------------------------- */

.signin {

  [role="main"] {

    h1 {
      margin-bottom: $lineheight*2;
    }

    input[type="email"],
    input[type="password"] {
      text-align: left;
    }

    .signin__divider {
      color: $comp-blue-faded;
      margin: 1rem 0;
      font-weight: bold;
      font-style: italic;
    }

    .form-accounts .btn.form-accounts__call-action {
      margin-bottom: 0;
    }

    // Hide this, since it's already visible below form
    .form__forgot-password {
      display: none;
    }
  }
}

/* =FORGOT PASSWORD
--------------------------------------------- */

.forgotpassword {
  [role="main"] {

    h1 {
      @include handheld {
        font-size: to_rem(20);
      }
    }

    .form-forgot-password > div {
      margin-bottom: $lineheight*3;
    }
  }

  .forgot__password-success {
    // Center on screen
    @include center(all);
    height: 50vh;
    flex-direction: column;
    font-size: 1.1rem;

    figure {
      font-size: to_rem(110);
      margin-bottom: $lineheight / 2;
    }
  }

  .account__fail {
    p {
      max-width: 31rem;
      font-size: 1.2rem;
    }
  }
}


/* =SIGNIN DROPDOWN
--------------------------------------------- */

.signin-dropdown {
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 1px 2px, // stark, shallow
              rgba(0, 0, 0, 0.1) 0 3px 10px, // mid-stark, semi-shallow
              rgba(0, 0, 0, 0.05) 0 5px 20px; // blurred, large

  p,
  .form__btn-row {
    margin: 0;
    width: 100%;
  }

  .form__forgot-password {
    padding: .6rem 1rem;
    text-align: center;
    font-size: to_rem(12);

    a {
      color: #666;
    }
  }

  input[type="email"],
  input[type="password"] {
    border: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  input:not([type='checkbox']) {
    height: $lineheight*2;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }

  .form__highlight--last {
    border-bottom: 0;
  }

  input[type="email"] {
    border-radius: $border-radius $border-radius 0 0;
  }

  label {
    font-weight: normal;
  }

  .signin__logging-in {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(#fff, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
    border-radius: 4px;
  }

  .form-signin {

    .form__highlight {
      border-top: 0;
    }

    > div p {
      max-width: none;
      width: 100%;
    }

    .form-accounts__call-action {
      font-weight: normal;
      border-radius: 0;
      margin-bottom: 0;
    }

    .btn {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }

    .form__btn-row--submit {
      text-align: center;
    }

    .form-accounts__help-bubble {
      border-radius: 0;
      padding: .5rem;
      background-color: #f7f7f7;
      color: $text-color;
      text-align: center;
      font-size: .8rem;

      a {
        color: $text-color;
      }
    }
  }

  .account__fail {
    text-align: center;
    margin-bottom: 0;
    box-shadow: inset rgba(#000, .05) 0 -1px 1px;

    h2 {
      font-size: to_rem(24);
      padding-top: $lineheight;
    }

    p {
      font-size: to_rem(16);
      padding-bottom: $lineheight;

      a {
        white-space: nowrap;
      }
    }
  }
}
