/* =COURSES
--------------------------------------------- */

/* A single course page */

@keyframes appearAndRemove {
  0% {
    opacity: 0;
    transform: perspective(1000px) translate3d(47%, 0, -200px);
  }
  3% {
    opacity: 1;
  }
  5% {
    transform: perspective(1000px) translate3d(47%, 0, 40px);
  }
  12% {
    transform: translate3d(47%, 0, 0);
  }


  80% {
    opacity: 1;
    transform: translate(47%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(47%, -20px);
  }
}

.course__nav {

  $color:   lighten($grey, 10%);

  text-align: center;
  font-size: to_rem(14);

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    flex: 1;
    padding: 0 1px;
    position: relative;
    max-width: 20rem;

    @include larger-than($handheld) {
      &:last-child a::before {
        border-radius: 0 10px 10px 0;
      }
      &:first-child a::before {
        border-radius: 10px 0 0 10px;
      }
    }
  }

  ul a {
    display: block;
    color: darken($color, 25%);
    transition: color .2s ease-out;

    &:hover {
      text-decoration: none;
      color: darken($color, 35%);

      &::before {
        background-color: darken($color, 5%);
      }
    }

    &::before {
      transition: background-color .2s ease-out;
      content: '';
      display: block;
      background: $color;
      height: 10px;
      margin-bottom: $lineheight / 2;
    }
  }

  .course__nav__collapse {
    color: $grey;
    display: block;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    transition: background-position .5s ease-in-out;
    background-image: linear-gradient(transparent, rgba(#000, .05));
    background-repeat: no-repeat;

    &.tap {
      color: darken($grey, 20%);
      transform: none;
    }

    &.collapsed {
      background-position: 0 50px;

      .icon {
        transform: rotateX(180deg);
      }
    }

    .icon {
      display: inline-block;
      font-size: 2rem;
      transition: transform .5s ease-out;
    }

    @include larger-than($handheld) {
      display: none;
    }
  }

  .nav--current {
    a, a:hover {
      color: $text-color;
      font-weight: bold;

      &::before {
        background-color: darken($color, 15%);
      }
    }

    @include handheld {
      a {
        font-weight: bold;
      }
    }
  }

  .finished-bubble {
    position: absolute;
    z-index: 1000;
    border-radius: 3px;
    background-color: $comp-green;
    color: #fff;
    font-size: to_rem(12);
    padding: 2px 6px;
    top: -30px;
    right: 0;
    width: 85px;
    transform: translateX(47%);
    user-select: none;
    cursor: default;

    opacity: 0;
    transform-origin: right bottom;
    animation: appearAndRemove 3s .5s forwards;

    &::before {
      $size: 5px;
      content: '';
      position: absolute;
      display: block;
      bottom: -$size;
      left: calc(50% - #{$size / 2});
      @include arrow($size: $size, $color: $comp-green, $direction: down);
    }

    @include handheld {
      display: none;
    }
  }

  .has-finished {

    .icon {
      color: darken($color, 30%);
      position: relative;
      top: -1px;

      @include handheld {
        display: none;
      }
    }

    a {
      color: darken($color, 30%);

      &::before {
        background-color: $comp-green;
      }

      &:hover {
        color: darken($color, 40%);

        &::before {
          background-color: darken($comp-green, 3%);
        }
      }
    }
  }

  .nav--current.has-finished {

    a {
      color: darken($color, 50%);

      &::before {
        background-color: darken($comp-green, 10%);
      }
    }
  }

  @include handheld {
    font-size: to_rem(12);

    // Left align text in nav, but still try to center it.
    ul {
      display: inline-block;

      li {
        text-align: left;
      }

      a {
        padding: .3rem 0;

        &::before {
          display: inline-block;
          width: 10px;
          border-radius: 10px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}

.course {

  [role="main"] {
    .course-single {
      position: relative;
    }
  }

  .course__edit-link {
    position: absolute;
    right: .5rem;
    top: .5rem;
    z-index: 100;
  }

  .course__header {
    padding: $lineheight / 2 1%;
    background-color: rgb(247, 247, 247);

    .course__title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    &--nav {
      padding: $lineheight / 2 1% $lineheight;

      .course__title {
        margin-bottom: $lineheight / 2;
      }
    }

    .dropdown-container {
      display: flex;
      align-items: center;
      top: 2px;
    }

    .dropdown__trigger {
      margin-left: .5rem;
      border-radius: 3px;
      background-color: #eaeaea;
      display: inline-block;
      width: 1.3em;
      height: 1.1em;
      line-height: 1rem;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 0.9rem;
      color: #444;

      @include handheld {
        display: none;
      }

      &:hover {
        background-color: darken(#eaeaea, 6%);
        border-color: darken(#ccc, 15%);
        color: $text-color;
      }

      &:active,
      &.dropdown--open {
        box-shadow: inset rgba(#000, .1) 0 1px 1px;
        background-color: darken(#eaeaea, 11%);
        border-color: darken(#ccc, 20%);
        color: $text-color;
      }

      // Ovverrrriiide.
      [class*="icon-chevron"] {
        margin-left: 0;
        top: -2px;
        position: relative;
      }

      &:hover,
      &.dropdown--open {
        [class*="icon-chevron"] {
          fill: currentColor;
        }
      }
    }

    .dropdown .dropdown__menu {
      [role="menuitem"] {
        position: relative;

        .tutorial__name {
          @include truncate($max: 95%);
          display: block;
        }

        // Checkmark icon
        a .icon {
          position: absolute;
          right: .5rem;
          top: .5rem;
        }
      }
    }

    h1 {
      font-size: to_rem(20);
      text-align: center;
      margin-bottom: 0;
    }

    @include handheld {
      padding: $lineheight / 2 0 0;
    }
  }

  /* The main tutorial text */

  .course-single {
    header {
      @include center(all);

      &.has-background {
        color: #fff;
        position: relative;
        background-size: cover;
        background-position: center;

        @include larger-than($handheld) {
          h1 {
            font-size: to_rem(56);
          }
        }

        .course__description {
          color: rgba(#fff, .75);
        }

        &::after {
          @include overlay {
            z-index: 1;
            background-color: rgba(#000, .5);
          }
        }

        h1, h2, p {
          z-index: 2;
        }

        @include larger-than($handheld) {
          min-height: $lineheight*16;
        }
      }

      &.no-background {
        position: relative;
        padding-top: $lineheight*2;
        @include has-separator($width: 10rem);

        & + .course__content {
          margin-top: 0;
        }
      }

      h2 {
        font-size: to_rem(36);
      }

      .subheading {
        font-size: to_rem(24);
        margin: 0;
      }

      .course__description {
        max-width: 40rem;
        margin: 0 auto;
        color: $grey-dark;
      }

      @include handheld {
        padding: $lineheight / 2 5%;

        h1, .subheading {
          font-size: 10vw;
        }

        h2 {
          font-size: 6vw;
          font-style: italic;
        }
      }
    }

    .course__content {
      margin: $lineheight*2 auto $lineheight*4;
      counter-reset: section;

      h1, h2, h3, h4, h5, h6 {
        text-align: center;
      }

      h1, h2 {
        margin-top: $lineheight*2;
      }

      > h1:first-child,
      > h2:first-child {
        margin-top: 0;
      }

      h1 {
        @include handheld {
          font-size: 9vw;
        }
      }

      .has-counter {
        margin-bottom: 0;
      }

      .course__counter {
        margin-bottom: $lineheight*3;
        text-align: center;

        @include handheld {
          margin-bottom: $lineheight;
        }

        .course__count {
          counter-increment: section;
          display: inline-block;
          content: counter(section);
          font-family: $serif;
          font-size: to_rem(32);
          width: 40px;
          height: 40px;
          line-height: 28px;
          border: 1px solid $accent;
          color: $accent;
          text-align: center;
          border-radius: 100%;
          position: relative;

          &::before,
          &::after {
            display: block;
            content: '';
            height: 1px;
            background-color: $accent;
            width: 3rem;
            position: absolute;
            top: 50%;
          }

          &::before {
            left: -5rem;
          }
          &::after {
            right: -5rem;
          }
        }
      }
    }

    footer {
      margin-top: $lineheight*3;
      color: #fff;
      font-size: 1.1rem;
      text-align: center;
      background-color: $comp-green;

      .footer_description {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
      }

      > div {
        padding: $lineheight*3 5%;

        > :last-child {
          margin-bottom: 0;
        }
      }

      h2 {
        font-size: to_rem(36);
      }

      .course__praise {
        h2 {
          font-style: italic;
        }
      }

      a {
        color: #fff;
        font-weight: bold;
      }

      > :last-child {
        background-color: saturate(darken($comp-green, 5%), 5%);
      }

      .btn {
        color: #fff;
        padding: .6em 2.5em;
        font-size: 1.1em;
        font-weight: normal;
        background-color: rgba(darken($comp-green, 10%), .8);

        &:hover {
          background-color: rgba(darken($comp-green, 15%), .6);
        }
      }
    }
  }


  [role="contentinfo"] {
    @include footer-style($comp-green);
  }
}
