/* =EXAMPLES
--------------------------------------------- */

.examples-header {
  color: #fff;
  padding-top: $lineheight*4;
  padding-bottom: $lineheight*4;
  background: transparent url('/images/crystal-hero-green.jpg') no-repeat center top;
  background-size: cover;

  h1 {
    font-size: to_rem(80);
    line-height: 1.4;
  }

  h2 {
    max-width: to_rem(450);
    font-size: to_rem(18);
    margin: 0 auto;
    @include smooth(false);

    a {
      color: #fff;
    }
  }

  @include handheld {
    padding-top: $lineheight*2;
    padding-bottom: $lineheight*2;

    h1 {
      font-size: 15vw;
      line-height: normal;
    }
  }
}

.examples-footer {
  @include center(all);
  color: $grey-dark;
  border-bottom: 1px solid $grey-light;
  padding: $lineheight*2 5%;
}

.examples-recordings {
  padding: $lineheight*2 5%;

  &__grid {
    $spacing: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include larger-than(1132px) {
      margin-left: -$spacing;
      margin-right: -$spacing;
    }

    @include smaller-than(1132px) {
      flex-direction: column;

      &__item {
        padding: 0;
        flex: 1;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      margin-bottom: $lineheight*2;

      &:last-child {
        margin-bottom: 0;
      }

      h2 {
        font-size: to_rem(24);
        margin-bottom: 0;
        @include smooth(false);

        @include handheld {
          font-size: to_rem(18);
        }
      }

      &--wide {

        .example-recording__figure {
          img {
            max-width: 500px;
          }
        }

        @include smaller-than(741px) {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;

          .example-recording__figure {
            img {
              max-width: 100%;
            }
          }

          .examples-recordings__grid__item__content {
            margin-left: 0;
            margin-top: $lineheight / 2;
          }
        }
      }

      @include larger-than(1132px) {
        padding: 0 $spacing;
        margin-bottom: $lineheight*4;
        max-width: to_rem(700);
        flex: 1 0 50%;

        &--wide {
          min-width: 100%;
          flex-basis: 100%;

          .example-recording__camera {
            width: 75px;
            right: -10px;
            bottom: -10px;
          }

          h2 {
            font-size: to_rem(32);
          }
        }
      }

      &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: .85em;
        max-width: to_rem(500);

        @include larger-than(321px) {
          margin-left: $spacing / 2;
        }

        @include larger-than(520px) {
          margin-left: $spacing;
        }

        @include handheld {
          .btn {
            width: 100%;

            &:first-child {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              border-bottom: 0;
            }
            &:last-child {
              border-top: 0;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
          }
        }
      }

      .btn {
        padding: .5em 1.25em .4em;
        transition: background-color .2s ease;

        &:not(.mode--subtle) {
          box-shadow: darken($btn-color, 15%) 0 2px 0;
          position: relative;

          &:active {
            top: 1px;
            box-shadow: darken($btn-color, 15%) 0 1px 0;
          }
        }
      }
    }
  }
}

.example-recording {
  display: block;
  position: relative;

  @include smaller-than(320px) {
    display: none;
  }

  &:active {
    .example-recording__figure__overlay {
      background-color: rgba(#000, .8);
    }
  }

  &:hover {
    .example-recording__figure__overlay {
      opacity: 1;

      .icon {
        transform: translateZ(0);
      }
    }
  }

  &__figure {
    $radius: 2px;

    position: relative;

    &__overlay {
      transition: opacity .3s ease,
                  transform .3s .1s ease;
      position: absolute;
      border-radius: $radius;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(#000, .6);
      opacity: 0;

      .icon {
        color: #fff;
        font-size: 4rem;
        transform: perspective(1000px) translateZ(30px);
      }
    }

    img {
      display: block;
      max-width: 150px;
      border-radius: $radius;
      box-shadow: rgba(#000, .05) 0 2px 3px,
                  rgba(#000, .15) 0 2px 20px;
    }

    // Add a thin dark outline to the figure.
    &::after {
      content: '';
      display: block;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-radius: $radius;
      box-shadow: inset rgba(#000, .15) 0 0 0 1px;
    }
  }

  &__author {
    margin: 1rem 0 .5rem;
    color: $grey-dark;
    opacity: .8;

    .user {
      color: darken($grey-dark, 15%);
      font-weight: normal;
    }
  }

  &__camera {
    position: absolute;
    z-index: 3;
    border-radius: 3px;
    width: 65px;
    right: -5px;
    bottom: -5px;
    box-shadow: rgba(#000, .15) -1px -1px 2px,
                rgba(#000, .15) -1px -2px 20px,
                rgba(#000, .08) 0 1px 3px;
  }

  &__frame {
    border-radius: 15px;
    padding: 6px 5px;
  }

  &__screen {
    background-color: #fff;
    margin: 6px 0;
    padding: 2px;
    border-radius: 3px;
    overflow: hidden;

    img {
      display: block;
    }
  }

  &__sensor {
    background-color: rgba(#000, .15);
    margin: 0 auto 5px;
    border-radius: 100%;
    width: 4px;
    height: 4px;
  }

  &__mic {
    background-color: rgba(#000, .15);
    margin: 0 auto 10px;
    border-radius: 2em;
    height: 3px;
  }

  &__button {
    background-color: rgba(#000, .15);
    margin: 0 auto;
    border-radius: 100%;
  }

  &__type {
    margin: .5rem 0 0;

    .badge {
      font-size: to_rem(11);
      text-transform: none;

      &.mode--gray {
        color: darken($grey-dark, 15%);
        border-color: lighten($grey-dark, 20%);
      }
    }
  }

  &__desc {
    color: #919191;
    margin-top: .5rem;
    line-height: 1.5;
    font-size: to_rem(14);

    :last-child {
      margin-bottom: 0;
    }
  }

  &__actions {
    margin-top: 1rem;

    :first-child {
      margin-right: .5rem;
    }
  }
}
