/* =GET STARTED
--------------------------------------------- */

.getstarted {

  .get-started__container {
    margin: 0 auto;
    max-width: 40rem;
    width: 90%;
  }

  [role="main"] {
    margin-top: $lineheight;

    @include larger-than($handheld) {
      margin-top: $lineheight*2;
    }

    @include larger-than($tablet) {
      font-size: 1.1rem;
    }
  }

  .desc-block {
    background-color: $comp-green;

    .desc-block__banner {
      max-width: 50rem;
      margin: 0 auto;

      h2 {
        font-size: to_rem(38);
      }
    }

    h1 {
      font-style: italic;
      font-size: to_rem(42);

      @include handheld {
        font-size: to_rem(32);
      }
    }

    .desc-block__heading + p {
      margin-top: $lineheight;
    }

    a {
      color: #fff;
      font-weight: bold;
    }

    .desc-block__children {

      li {

        &:nth-child(1) {
          background-color: darken($comp-green, 5%);
        }
        &:nth-child(2) {
          background-color: darken(saturate($comp-green, 3%), 8%);
        }
        &:nth-child(3) {
          background-color: darken(saturate($comp-green, 5%), 10%);
        }
      }
    }
  }

  [role="contentinfo"] {
    @include footer-style($comp-green);
  }
}

.get-started__steps {
  header {
    h1 {
      font-size: to_rem(26);
      margin-bottom: $lineheight;
      color: $grey-dark;
    }

    h2 {
      margin-bottom: $lineheight*2;
    }

    @include handheld {
      h1 {
        margin-bottom: $lineheight / 2;
        font-size: to_rem(18);
        color: $text-color;
      }
    }
  }

  h1, h2 {
    font-size: to_rem(36);
    text-align: center;
    line-height: 1.4;

    @include handheld {
      font-size: to_rem(22);
      line-height: 1.6;
    }
  }

  h1 {
    margin-bottom: $lineheight*2;
  }

  section {
    position: relative;

    &:last-child {
      padding-bottom: $lineheight*2;
    }

    &::after {
      $size: 12px;
      @include arrow($color: rgba(#000, .3), $direction: down, $size: $size, $width: $size + 3px, $equilateral: false);
      display: block;
      content: '';
      position: absolute;
      bottom: -$size;
      left: calc(50% - #{$size});
      z-index: 101;
    }

    pre {
      margin: $lineheight*2 -2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include handheld {
      pre {
        margin-left: 0;
        margin-right: 0;
        padding-left: $lineheight / 2;
        padding-right: $lineheight / 2;
      }
    }
  }

  section:not(:last-child) {
    border-bottom: 1px solid $grey-light;
    margin-bottom: $lineheight*3;
    padding-bottom: $lineheight*2;
  }
}
