/* =HOME REEL ANIMATION
--------------------------------------------- */

$reel-items: 7;
$reel-animation-pause: 5s;
$reel-animation-length: $reel-items * $reel-animation-pause;
$reel-item-width: 256px;

@keyframes reel-mic-pulse {
  100% {
    background-color: darken(saturate(#7ED321, 50%), 10%);
    box-shadow: rgba(darken(saturate(#7ED321, 50%), 10%), .7) 0 0 7px 1px;
  }
}

.home-reel {
  position: relative;
  display: flex;
  align-items: center;

  &__reactions {
    width: 60px;
    height: 60px;
    position: relative;
  }

  &__reaction {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  &__device {
    width: 325px;
    height: 597px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background: transparent url('/images/iphone-sketched@2x.png') no-repeat center;
    background-size: cover;

    &__light {
      position: absolute;
      top: 41px;
      left: 116.5px;
      width: 5px;
      height: 5px;
      background-color: #7ED321;
      border-radius: 100%;
      animation: reel-mic-pulse 1s infinite linear alternate-reverse;
    }
  }

  &__track {
    overflow: hidden;
    margin-bottom: 25px;
    width: $reel-item-width;
  }

  &__slider {
    display: flex;
    align-items: flex-end;

    &.is-transitioning {
      transition: transform 400ms cubic-bezier(.52,1.27,.6,1.12);
    }

    &__item {
      flex: 1;
      min-width: $reel-item-width;
    }
  }
}
