.jobs {
  [role="main"] {
    font-family: $serif;

    header, section {
      @include center(all);
      font-size: 5vw;

      @include larger-than($tablet) {
        font-size: to_rem(28);
        line-height: $golden;
      }
    }

    section {
      padding: $lineheight*3 0 $lineheight*2;

      p {
        margin: 0 auto $lineheight;
        width: 80%;

        @include larger-than($tablet) {
          width: 68%;
        }

        a:not(.btn) {
          @include underline($color: $light, $bg: #333, $offset: 0.2em);
          color: $light;
        }
      }
    }
  }

  [role="contentinfo"] {
    @include footer-style($dark);
  }
}

.jobs-background {
  min-height: $lineheight*31;
  position: relative;
  background: #000 no-repeat center bottom;
  background-size: cover;
  color: $light;

  &::after {
    @include dark-overlay($opacity: .1);
    z-index: 1;
  }

  & > h1, & > p, & > a {
    position: relative;
    z-index: 2;
  }
}

.jobs-header {
  min-height: $lineheight*30;
  background-image: url('/images/banners/founders.jpg');
  background-position: center top;

  @include handheld {
    height: 22rem;
    min-height: 0;
  }

  h1 {
    margin-top: 15rem;
  }

  span {
    display: block;
    line-height: 1.1;
    font-size: 5.3vw;
    @include larger-than($tablet) {
      font-size: 2.6rem;
    }
  }

  strong {
    display: block;
    line-height: 1.1;
    font-size: 5.6vw;
    @include larger-than($tablet) {
      font-size: 3.1rem;
    }
  }
}

// Individual Sections
.jobs-quality {
    background-color: $off-white;
    border-top: solid 1px darken($grey-light, 5%);
}

.jobs-calling {
  background-image: url('/images/banners/earth.jpg');
  min-height: $lineheight*25;
  p {
    margin-bottom: $lineheight*5;
  }
}

.jobs-distributed {
  background-image: url('/images/banners/mountains.jpg');
}

.jobs-sharing {
  background-image: url('/images/banners/laundry.jpg');
  min-height: $lineheight*25;
}

.jobs-freedom {
  background-image: url('/images/banners/independent.jpg');

  p {
    margin-bottom: $lineheight*5;
  }
}

.jobs-journey {
  min-height: $lineheight*30;
  background-image: url('/images/banners/explorer.jpg');

  p {
    margin-bottom: $lineheight*3;
  }
}

.jobs-join {
  font-family: $sans;

  p {
    margin-bottom: $lineheight*2;
  }

  .apply-anyway {
    font-size: to_rem(16);
    color: $grey-dark;
    max-width: to_rem(500);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .open-positions {
    @include list-reset;
    margin-bottom: $lineheight*2;
    margin-left: 2rem;
    text-align: left;
    font-size: to_rem(24);
    color: #444;
    font-weight: 300;

    a {
      &::after {
        display: inline-block;
        content: 'Job posting';
        border-radius: 3px;
        color: $link-color;
        border: 1px solid #dadada;
        padding: 1px 5px;
        font-size: to_rem(10);
        font-weight: 500;
        position: relative;
        top: -3px;
        margin-left: 1em;
        text-transform: uppercase;
      }
    }

    li {
      position: relative;

      &::before {
        content: '›';
        margin-right: .5em;
        color: $grey-dark;
      }
    }
  }

  .btn {
    padding: 0.8em 3.4em;
  }
}

// Jobs posts - the actual open positions

.jobs-post-header {
  background: rgb(86, 193, 202) url('/images/crystal-hero-teal.jpg') no-repeat center;
  background-size: cover;
  @include center(all);

  h1 {
    margin: $lineheight*2 auto;
    color: #fff;
    line-height: 1.4;

    span {
      font-style: italic;
      font-size: to_rem(28);
      display: block;
    }

    @include handheld {
      span {
        font-size: to_rem(22);
      }
    }
  }
}

 .jobs-post-description {
  width: 90%;
  max-width: to_rem(500);
  margin: $lineheight auto;

  @include larger-than($handheld) {
    margin-top: $lineheight*2;
    margin-bottom: $lineheight*2;
  }

  .jobs-post-meta {
    margin: 0 auto $lineheight;

    .lookback-logo {
      float: right;
      display: none;

      @include larger-than($tablet) {
        display: inline;
      }

      .logo__text {
        fill: #000;
        transition: fill .5s;
      }

      &:hover {
        .logo__swirl {
          fill: $accent;
        }
        .logo__text {
          fill: inherit;
        }
      }
    }
  }

  ul, p, h2 {
    margin: 0 auto $lineheight;
  }

  h2 {
    font-size: to_rem(28);
    margin: 0 auto $lineheight/2;
  }
 }

.jobs-post-apply {
  @include center(all);

  margin: 0 0 2rem;

  a[role="button"] {
    margin: 0 auto 2rem;
    font-size: to_rem(20);
  }

  p {
    margin: 0 auto $lineheight;
  }
}
