/* =LEARN VIEWS
--------------------------------------------- */

// Root node
.learn {
  // Remove border
  [role="banner"].background--solid {
    box-shadow: none;
  }
}

.learn__tutorials {
  display: flex;
  flex-wrap: wrap;

  section {
    flex-basis: 100%;
    border-bottom: 1px solid $grey-light;

    header {
      display: flex;

      @include smaller-than(660px) {
        flex-direction: column;
        align-items: center;
      }

      h1 {
        width: 100%;
        margin-bottom: .5rem;
      }
    }

    .tutorial__inner {
      padding: $lineheight*3 5%;
      max-width: 75rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .email-signup-form {
      .loading-spinner {
        width: 3rem;
      }
    }

    .badge {
      margin-right: 1rem;
      position: relative;
      min-width: 111px;

      @include smaller-than(660px) {
        font-size: .6rem;
        min-width: 0;
        bottom: 1rem;
      }
    }

    .tutorial__image {
      max-width: 40%;
      margin: 0 auto $lineheight;

      &.order--last {
        display: none;
      }
    }

    @include smaller-than(880px) {
      .tutorial__image.order--last {
        max-width: 40%;
      }
    }

    @include smaller-than(660px) {
      text-align: center;

      header + .tutorial__image {
        margin-bottom: $lineheight;
      }

      .tutorial__info {
        .btn {
          font-size: 1rem;
          @include truncate($max: 100%);
        }
      }

      .email-signup-form {
        input {
          width: 100%;
        }

        input[type="submit"] {
          border-radius: 0 0 3px 3px;
          padding: 0.9rem;
        }
        input[type="email"] {
          border-radius: 3px 3px 0 0;
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    @include larger-than(660px) {

      header {
        align-items: center;

        .badge {
          bottom: .5rem;
        }
      }

      header + .tutorial__image {
        display: none;
      }

      .tutorial__image.order--last {
        display: block;
        margin: 0;
      }

      .tutorial__info,
      .tutorial__image {
        padding: 0 2.5%;
      }

      .tutorial__info {
        flex: 1;
        max-width: 40rem;
      }

      .tutorial__desc {
        font-size: 1em;
        line-height: 1.6;
        max-width: 31rem;
        color: darken($grey-dark, 15%);
        margin-bottom: $lineheight*1.5;
      }

      &:nth-last-child(2) {
        box-shadow: inset $grey-light -1px 0 0;
      }

      &:nth-child(even) .tutorial__inner {
        flex-direction: row-reverse;
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
        flex-basis: 50%;
        border-bottom: 0;

        header + .tutorial__image {
          display: block;
          margin-bottom: $lineheight;
          max-width: none;

          img {
            max-height: 240px;
          }
        }

        .tutorial__image.order--last {
          display: none;
        }

        .tutorial__inner {
          flex-direction: column;
          text-align: center;
        }
      }

      .email-signup-form {
        display: flex;
        align-items: center;

        input[type="email"] {
          flex: 1;
          margin-right: 1rem;
        }
      }
    }
  }

}
