/**
 * =LIVE LANDING PAGE
 */

@keyframes live-logo-grow {
  50% {
    box-shadow: inset $comp-green 0 0 0 1px;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
    box-shadow: inset $comp-green 0 0 0 1px;
  }
}

@keyframes hero-fade {
  100% {
    opacity: 1;
  }
}

// Root node
.livelanding {
  [role="banner"] {
    @include absolute-header;
  }
}

.live-landing {
  $base-live-color: darken(desaturate($grey-tint, 5%), 15%);

  color: $base-live-color;
  font-size: 1.1em;
  overflow: hidden;

  h1, h2 {
    font-family: $sans;
    font-weight: 300;
    color: lighten(saturate($comp-teal-dark, 5%), 5%);
  }

  .has-separator {
    @include has-separator($color: $main-border-color, $spacing: 3, $position: before, $width: 400px);
  }

  .layout-hero {
    background-color: rgb(17, 63, 80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    position: relative;

    @include larger-than($handheld) {
      margin-bottom: 18rem;
    }

    @include handheld {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .top {
      z-index: 10;
      position: relative;
    }

    h1 {
      color: $light;
    }

    &__text {
      margin-top: $lineheight;
      font-size: 1.1em;
      max-width: 610px;
      margin: 0 auto;
      color: rgba(#cef2ff, .58);
    }
  }

  .live-logo {
    color: $comp-green;
    width: 2em;
    height: 2em;
    margin: 0 auto $lineheight;
    font-size: 2.6em;
    position: relative;

    .live-logo__shield {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: rgba(123, 255, 187, 0.15) 0 0 50px 15px,  // light green
                  rgba(159, 255, 206, 0.1) 0 0 10px 5px;    // ... even lighter
    }

    .live-logo__circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 100%;
      box-shadow: inset $comp-green 0 0 0 3px;
      animation: live-logo-grow 4s 2.5s infinite ease-out;
    }

    .live-logo__circle2 {
      animation-delay: 3s;
    }
    .live-logo__circle3 {
      animation-delay: 3.5s;
    }
  }

  &__video {
    max-width: 640px;
    position: relative;
    margin: $lineheight*3 auto 0;
    background-color: #3BD788;  // To provide solid fallback while video is loading
    border-radius: 6px;

    @include handheld {
      margin-top: 0;
    }

    &__container {
      position: relative;
      transition: transform .2s ease;
    }

    &__overlay {
      @include center(all);
      transition: background-color .2s ease;
      color: #fff;
      font-weight: bold;
      border-radius: 6px;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(#3BD788, .9);
      z-index: 20;

      .icon {
        font-size: 3rem;
      }

      &:hover {
        text-decoration: none;
        background-color: #3BD788;
      }
    }

    video {
      width: 100%;
      border-radius: 6px;
      display: block;
      position: relative;
      z-index: 10;
      box-shadow: rgba(0, 0, 0, .1) 0 5px 10px,
                  rgba(0, 0, 0, .2) 0 10px 30px
    }

    &--playing {
      .live-landing__video__overlay {
        pointer-events: none;
        opacity: 0;
      }

      @include larger-than(880px) {
        .live-landing__video__container {
          transform: scale(1.5);
        }

        video {
          box-shadow: rgba(0, 0, 0, 0.2) 0 5px 30px;
        }
      }
    }
  }


  // ALL SECTIONS

  .layout-feature {

    h1 {
      // Make headings a tad smaller
      font-size: to_rem(36);
      margin-bottom: .5rem;
    }

    small {
      font-size: to_em(11);
    }

    // Flush button links to left
    .btn.mode--link {
      padding-left: 0;
    }

    &__list {
      margin-bottom: $lineheight*2;
      color: rgba($comp-teal-dark, .9);     // A liiittle bit lighter.
    }

    &__figure {
      display: block;

      img {
        display: block;
      }

      &--wide {

        img {
          margin-right: -200px;
          max-width: calc(100% + 200px);
        }
      }
    }

    &--reverse {
      .layout-feature__figure--wide img {
        margin-left: -200px;
      }
    }

    @include smaller-than(1024px) {

      h1 {
        font-size: to_rem(28);
      }
    }

    @include smaller-than(768px) {
      .layout-feature__figure {
        flex: 3;
      }
    }

    @include handheld {
      .layout-feature__figure,
      .layout-feature__figure.layout-feature__figure--reverse {
        margin: 0 auto;

        img {
          margin: 0 auto;
          max-width: 100%;
        }
      }

      .layout-feature__list {
        font-size: .9em;
      }
    }
  }

  .layout-outro {
    .live-logo {
      font-size: 2em;
      margin-bottom: $lineheight;

      &__shield {
        border: 2px solid $comp-green;
      }
    }
  }

  &__legal {
    font-size: .8em;
    color: $comp-blue-faded;
  }

  // NAMED SECTIONS

  &__call-moderator {

    @include larger-than($handheld) {
      margin-bottom: $lineheight*7;
    }

    .layout-feature__text__content {
      max-width: 400px;
    }

    .layout-feature__figure {

      img {
        max-height: 642px;
      }
    }

    @include handheld {
      text-align: left;
    }
  }

  &__participate {
    background-color: rgba(#00AAF5, .05);
    margin: $lineheight*3 0 $lineheight*5;

    .layout-feature__figure {

      img {
        margin-top: -100px;
      }

      @include larger-than(768px) {
        flex: 7;
      }
    }

    .layout-feature__list {

      .icon {
        color: $comp-orange;
      }
    }

    @include smaller-than(768px) {
      margin-bottom: $lineheight*5;
    }

    @include handheld {
      margin: $lineheight 0;
    }
  }

  &__invite-team {

    .layout-feature__list {

      .icon {
        color: $comp-green;
      }
    }
  }

  &__dashboard {
    margin-bottom: $lineheight*7;

    .layout-feature__list {

      .icon {
        color: $comp-blue;
      }
    }

    .layout-feature__figure {
      img {
        margin-top: -46px;
      }
    }

    @include handheld {
      margin-bottom: $lineheight;
    }
  }

  &__devices {
    &.layout-feature--reverse .layout-feature__figure--wide {
      @include larger-than($handheld) {
        img {
          margin-left: -250px;
        }
      }
    }
  }

  // The table
  &__comparison-table {
    width: 100%;
    font-size: .9em;
    color: $comp-teal-dark;
    margin-bottom: $lineheight*3;
    table-layout: fixed;  // Yay, equal width columns :tada:

    th, td {
      padding: 1em;
      font-weight: normal;
    }

    sup {
      color: darken($comp-green, 5%);
      margin-left: 2px;
    }

    th {
      font-size: .9em;
      padding: .7em 1em;

      .icon {
        font-size: 2em;
        margin-right: .3em;
        opacity: .5;
        position: relative;
        top: -2px;
      }
    }

    td {
      border-top: 1px solid $main-border-color;
      font-size: .8em;
    }

    tr {
      &:last-child {
        td {
          border-bottom: 1px solid $main-border-color;
        }
      }

      td {
        &:last-child {
          font-style: italic;
          padding-left: 2em;
          border-top: 0;
          border-bottom: 0;
          font-size: 1em;
        }
      }
    }

    .custom-icon--checkmark-circle {
      color: $comp-green;
      font-size: 1.5em;
      position: relative;
      top: -1px;
    }

    .limited {
      color: $grey-tint;

      .custom-icon--checkmark-circle {
        color: $comp-orange;
        margin-right: 3px;
      }
    }

    @include handheld {
      margin-left: -1rem;
      width: calc(100% + 1rem);
    }
  }
}
