/* =MAC LANDING (USB RECORDINGS)
--------------------------------------------- */

@keyframes animate-iphone {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1.15);
    opacity: 1;
  }
  15% {
    transform: scale(0.85);
  }
  20% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(0.95);
  }
  30% {
    transform: scale(1);
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate-ipad {
  0% {
    transform: translateY(-8.5%) scaleX(0.65) scaleY(0.83);
  }

  30% {
    transform: translateY(-8.5%) scaleX(0.65) scaleY(0.83);
  }

  30% {
    opacity: 1;
  }

  40% {
    transform: translateY(-8.5%) scale(1.05);
  }

  45% {
    transform: translateY(-8.5%) scale(.95);
  }

  50% {
    transform: translateY(-8.5%);
  }

  70% {
    transform: translateY(-8.5%);
  }

  80% {
    transform: translateY(-8.5%) scaleX(0.7) scaleY(0.5);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(-8.5%) scaleX(0.7) scaleY(0.5);
    opacity: 0;
  }
}

@keyframes animate-appletv {
  0% {
    transform: translateY(32.5%) scale(.8);
    opacity: 0;
  }
  15% {
    opacity: 1;
    transform: translateY(32.5%) scale(1.15);
  }
  25% {
    transform: translateY(32.5%) scale(1);
  }

  80% {
    opacity: 1;
    transform: translateY(32.5%);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(32.5%) scaleX(.1);
    opacity: 0;
  }
}

@keyframes animate-tv {
  0%{
    transform: scaleX(0.65) scaleY(1.2);
  }
  15% {
    transform: scaleX(0.65) scaleY(1.2);
  }
  25% {
    opacity: 1;
  }
  30% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.1);
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(.1);
  }
}

.mac-landing {
  $base-color: darken(desaturate($comp-teal, 20%), 20%);

  color: $base-color;
  text-align: center;
  font-family: $serif;
  font-size: 1.3rem;
  overflow: hidden;

  h1 {
    margin: $lineheight auto;
    max-width: to_rem(900);

    &.spacing {
      padding-bottom: $lineheight*2;
    }

    .icon-app-store {
      position: relative;
      top: -.3ex;
    }

    @include smaller-than($laptop) {
      font-size: to_rem(36);
      padding: 0 5%;
    }

    @include handheld {
      font-size: 8vw;

      &.spacing {
        padding-bottom: $lineheight;
      }
    }
  }

  .landing-detail {
    color: rgba(#fff, .8%);
    font-family: $sans;
    font-size: .9rem;
  }

  .landing-payoff {
    font-size: to_rem(15);
    font-family: $sans;
    color: $grey-dark;
  }

  &__top {
    padding: $lineheight 5% $lineheight*4;
    background-color: $comp-teal;
    color: #fff;
    position: relative;

    @include larger-than($handheld) {
      padding-bottom: $lineheight*5;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      display: block;
      content: '';
      z-index: 20;
      background-size: cover;
      background: transparent url('/images/tilt.svg') no-repeat left top;
    }

    .lookback-logo {
      display: inline-block;

      .lookback-mark {
        fill: rgba($base-color, .5);
        font-size: .3em;
        transition: fill .3s ease-in-out;

        &:hover {
          fill: rgba($base-color, .7);
        }
      }
    }

    a {
      color: #fff;
    }

    .btn.mode--link {
      color: #fff;
      text-decoration: underline;
      font-family: $serif;
      font-size: 1em;
    }
  }

  .cord {
    position: absolute;
    max-width: none;

    @include handheld {
      display: none;
    }
  }

  .cord--left {
    top: 314px;
    left: -305.5%;
    width: 1500px;
  }

  .cord--right {
    top: -635px;
    left: -155px;
    width: 2000px;
  }

  .device-plugin {
    border-radius: 100%;
    background: rgb(26, 167, 196) url('/images/buildings-repeatable.svg') repeat-x left 75%;
    background-size: 75% 75%;
    max-height: to_rem(420);
    max-width: to_rem(420);
    width: 80vw;
    height: 80vw;
    margin: $lineheight*2 auto;
    position: relative;

    @include larger-than($handheld) {
      margin-bottom: 25rem;
    }

    .device-iphone,
    .device-ipad,
    .device-appletv {
      transform-origin: bottom center;
    }
  }

  .device-iphone {
    opacity: 0;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    margin: -25%;

    &.animate {
      animation: animate-iphone 3.5s 1s both;
    }
  }

  .device-ipad {
    opacity: 0;
    position: absolute;
    height: 60%;
    left: 50%;
    top: 50%;
    width: 50%;
    margin: -30% -25%;
    transform: translate(0, -8.5%);

    &.animate {
      animation: animate-ipad 3.5s 1.8s both;
    }
  }

  .device-appletv {
    opacity: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 30%;
    margin: -15% -25%;
    transform: translate(0, 32.5%);

    &.animate {
      animation: animate-appletv 2.5s 2.4s both;
    }
  }

  .device-tv {
    opacity: 0;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    margin: -25%;

    &.animate {
      animation: animate-tv 2.5s 2.4s both;
    }
  }

  .mac-frame {
    position: relative;
    background: transparent url('/images/laptop.svg') no-repeat center;
    background-size: 100% 100%;
    width: 90vw;
    height: 50vw;
    max-width: 685px;
    max-height: 380px;
    margin: $lineheight*3 auto $lineheight;

    .device-iphone,
    .device-ipad,
    .device-tv {
      margin: -15% -25%;
    }
  }

  .mac-laptop {
    max-width: 685px;
    margin: $lineheight*3 auto $lineheight;
    width: 90%;
  }

  .iphone-cable {
    max-width: none;
    width: 180%;
    flex: 1 0 auto;

    &--left {
      margin-left: -5%;
    }

    &--right {
      margin-right: -5%;
    }
  }

  .iphone-usb-container {
    margin: $lineheight*3 0;
    overflow: hidden;
    position: relative;
    display: flex;

    .iphone-cable {
      transition: transform .65s;
    }

    &--right {
      justify-content: flex-end;

      &.out {
        .iphone-cable {
          transform: translate(-60%, -4%);
        }
      }
    }

    &--left {
      &.out {
        .iphone-cable {
          transform: translate(60%, -4%);
        }
      }
    }
  }

  &__examples-list {
    @include list-reset;
    display: flex;
    justify-content: space-between;
    max-width: 640px;
    margin: $lineheight*2 auto;
    width: 90%;
    text-align: center;

    li {
      max-width: 200px;
      display: flex;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      &:hover {
        text-decoration: none;

        .device-overlay::after {
          opacity: 0;
        }

        .btn {
          color: rgba($base-color, .8);
          background-color: rgba($base-color, .1);

          .icon-controller-play {
            transform: scale(1.2);
          }
        }
      }
    }

    .btn {
      color: $base-color;
      transition: background-color .15s ease,
                  color .15s ease;
      background-color: rgba($base-color, .12);
      box-shadow: none;
      font-size: .7em;
      padding: .3em 1em;
      font-weight: bold;

      .icon-app-store {
        top: -3px;
      }

      .icon-controller-play {
        font-size: 1.4em;
        transform: translateZ(0);
        transition: transform .15s ease;
      }
    }

    .device-overlay {
      position: relative;
      border-radius: 2px;
      overflow: hidden;

      &::after {
        transition: opacity .2s ease-out;
        border-radius: 2px;
        display: block;
        content: '';
        position: absolute;
        background-color: darken(mix($dark, $comp-blue), 10%);
        opacity: .5;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
      }
    }

    figure {
      margin-bottom: $lineheight;
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &.iphone {
        img {
          max-height: 160px;
        }
      }
    }

    img {
      display: block;
      max-height: 200px;
    }


    @include handheld {
      flex-direction: column;
      align-items: center;
      font-size: 1.3em;

      li {
        margin-bottom: $lineheight;

        figure {
          display: none;
        }
      }
    }
  }

  .landing-btn {
    @include smooth(false);
    font-family: $serif;
    color: $base-color;
    font-size: 1.2em;
    padding: .8em 1.5em;
    box-shadow: rgba($base-color, .4) 0 2px 0;
    position: relative;
    transition: background-color .2s ease-in-out,
                color .2s ease-in-out;

    &:active {
      top: 1px;
      box-shadow: rgba($base-color, .4) 0 1px 0;
    }

    &--inverted {
      background-color: saturate(lighten($accent, 10%), 10%);
      color: #fff;
      box-shadow: none;

      &:hover {
        background-color: rgba(saturate(lighten($accent, 10%), 10%), .9);
      }

      .lookback-mark {
        fill: #fff;
      }
    }

    &.mode--light {
      background-color: rgba(#fff, .95);

      .lookback-mark {
        fill: saturate(lighten($accent, 10%), 10%);
      }

      &:hover {
        color: darken($base-color, 10%);
        background-color: #fff;

        .lookback-mark {
          fill: saturate(lighten($accent, 10%), 20%);
        }
      }
    }

    .lookback-mark {
      transition: transform .25s ease-in-out;
      font-size: .3em;
      position: relative;
      top: .6ex;
      margin-right: 1em;
      margin-left: -1em;
    }
  }
}

.mac-landing__bottom {
  padding: 0 0 $lineheight;
  overflow: hidden;

  p {
    max-width: to_rem(600);
    margin: 0 auto;
    width: 90%;
  }

  @include larger-than($handheld) {
    padding-bottom: $lineheight*3;
  }
}

.mac-landing__footer {
  padding-bottom: $lineheight;
}
