/* =MINIPLAYER

  The stripped down recordings player on the front page.
--------------------------------------------- */

$mobile-player-breakpoint: 670px;


@keyframes playerLoading {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

.miniplayer__device-wrapper {
  transition: transform 1s;
  display: inline-block;
  position: relative;
  z-index: 102;
  width: 490px;

  @include laptop {
    width: 380px;
  }

  .play-pause-click-area {
    cursor: pointer;
  }
}

.miniplayer__device__model {
  @include smaller-than($mobile-player-breakpoint) {
    display: none;
  }
}

.miniplayer__device {
  display: inline-block;
  position: relative;
  width: 100%;

  .miniplayer__spinner {
    $width: 62px;

    height: $width;
    width: $width;
    display: flex;
    padding: 0 10px;
    background-color: rgba(#000, .8);
    z-index: 10;
    border-radius: 100%;
    position: absolute;
    top: 39%;
    left: 40.5%;
    animation: playerLoading .8s .1s infinite cubic-bezier(0.140, 0.955, 0.300, 0.960) alternate;
  }

  .lookback-mark {
    fill: #fff;
    width: 100%;
    height: auto;
  }

  @include smaller-than($mobile-player-breakpoint) {
    height: 283px;

    .miniplayer__spinner {
      left: 30%;
    }
  }
}

.miniplayer__poster {
  position: absolute;
  left: 74px;
  top: 97px;
  width: 332px;

  @include laptop {
    width: 258px;
    top: 74px;
    left: 57px;
  }

  @include smaller-than($mobile-player-breakpoint) {
    position: static;
  }
}

.miniplayer__device,
.miniplayer__camera {
  &.rotate--short {
    transition: transform 300ms;
  }

  &.rotate--long {
    transition: transform 600ms;
  }

  &[data-degrees="90"] {    transform: rotate(90deg);   }
  &[data-degrees="-90"] {   transform: rotate(-90deg);  }
  &[data-degrees="180"] {   transform: rotate(180deg);  }
  &[data-degrees="-180"] {  transform: rotate(-180deg); }
}

.miniplayer__screen {
  @include smaller-than($mobile-player-breakpoint) {
    video {
      border-radius: 4px;
      box-shadow: rgba(#000, .4) 0 -1px 5px;
    }
  }
}

.miniplayer__camera {
  position: absolute;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, .3) 0 -1px 5px 0;
  width: 36%;
  right: -5%;
  bottom: 12%;
  z-index: 105;
  transition: opacity .2s ease-out, transform .2s ease-out;

  // Some browser (ahem, Firefox) is rotating our camera video.
  // Rotate it back with CSS transforms. Remember the coordinate
  // system is flipped 90deg now..
  &.flipped {
    transform: rotate(90deg);
    width: 53%; // Pixelfucking
    right: -15%;

    // Put the icon in the top right corner in this new coord system.
    .icon {
      transform: rotate(-90deg);
      right: auto;
      left: .3em;
    }
  }

  &.loading {
    opacity: 0;
    transform: perspective(100px) translateZ(-20px);
  }

  .icon {
    position: absolute;
    right: .3em;
    top: .3em;
    color: #fff;
    font-size: 2em;
    padding: 4px;
    border-radius: 100%;
    background: rgba(#000, .4);
  }

  @include laptop {
    bottom: 12%;
    font-size: .7rem;   // For scaling elements, such as the .icon

    &.flipped {
      bottom: 18%;
    }
  }

  @include smaller-than($mobile-player-breakpoint) {
    display: none;
  }
}

.miniplayer__screen {
  @include center(all);
  position: absolute;
  transition: opacity .2s ease-out, transform .2s ease-out;
  top: 95px;
  bottom: 179px;
  left: 73px;
  right: 84px;

  video::-webkit-media-controls {
    display: none !important;
  }

  &:hover {
    .miniplayer__play-btn {
      background: rgba(#000, .8);
    }
    .miniplayer__play-btn__icon {
      transform: scale(.9);
    }
  }

  &.loading {
    opacity: 0;
    transform: perspective(100px) translateZ(-10px);
  }

  .miniplayer__play-btn {
    border-radius: 100%;
    background: rgba(#000, .5);
    width: 7rem;
    height: 7rem;
    position: relative;
    z-index: 10;
    padding: 1.7rem;
    transition: background .4s ease-out;
  }

  .miniplayer__play-btn__icon {
    height: 100%;
    width: 100%;
    position: relative;
    left: 10%;
    transition: transform .2s ease-out;
  }

  @include laptop {
    top: 74px;
    bottom: 141px;
    left: 57px;
    right: 65px;
  }

  @include smaller-than($mobile-player-breakpoint) {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.miniplayer__camera video,
.miniplayer__screen video {
  display: block;
  width: 100%;
  height: 100%;
}

.miniplayer__screen-surface {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.miniplayer__touches {
  z-index: 10;

  @include tablet {
    display: none;
  }
}
