.press {
  [role="contentinfo"] {
    @include footer-style($accent);
  }
}

.press-header {
  text-align: center;

  h1 {
    margin: $lineheight 0 $lineheight / 2;
  }

  p {
    color: $grey-dark;
  }
}

.press-logos {
  .desc-block__children {
    figure {
      display: block;
      width: 60%;
    }

    p {
      font-size: 1rem;
      margin-bottom: $lineheight/2;
    }
  }

  .btn {
    font-weight: 400;
  }

  img {
    height: 28px;
  }
}

.press-logos.light {
  background-color: $off-white;

  .desc-block__children {
    li {
      &:nth-child(1) {
        background-color: $off-white;
        p {
          color: $grey-dark;
        }
      }
      &:nth-child(2) {
        background-color: darken($off-white, 2%);
        p {
          color: darken($grey-dark, 2%);
        }
      }
      &:nth-child(3) {
        background-color: darken($off-white, 4%);
        p {
          color: darken($grey-dark, 4%);
        }
      }
    }
  }
}

.press-logos.dark {
  background-color: $dark;

  p {
    color: $grey;
  }

  .desc-block__children {
    li {
      &:nth-child(1) {
        background-color: lighten($dark, 4%);
      }
      &:nth-child(2) {
        background-color: lighten($dark, 2%);
      }
      &:nth-child(3) {
        background-color: $dark;
      }
    }
  }
}

.press-media-kit {
  text-align: center;
  padding: $lineheight*2 0;
  color: $grey;

  p {
    margin-bottom: 0;
  }

  .btn {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: $lineheight/2
  }
}

.press-example {

}

.press-articles {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  padding: $lineheight*2 0;

  h1 {
    font-size: to_rem(32);
    text-align: center;
    margin: $lineheight*2 auto;
    @include has-separator($width: 10rem, $spacing: 1);
  }

  ul {
    margin-bottom: $lineheight*4;
    list-style-type: circle;
  }
}
