.support__header {
  padding: $lineheight*3 5% $lineheight;
  background: rgb(86, 193, 202) url('/images/crystal-hero-teal.jpg') no-repeat center;
  background-size: cover;
  color: #fff;

  @include larger-than($handheld) {
    padding: $lineheight*5 5% $lineheight*2;

    h1 {
      line-height: 1;
    }
  }

  h1 {
    text-align: center;
    margin: $lineheight / 2 0 $lineheight;
    font-size: to_rem(32);
    font-family: $sans;
    font-weight: 300;
  }

  h2 {
    font-size: to_rem(16);
    margin: 0;
  }

  @include handheld {

    h1 {
      font-size: to_rem(20);
      margin-top: 0;
    }

    h2 {
      font-size: 6vw;
    }
  }
}


.support {
  [role="contentinfo"] {
    @include footer-style($accent);
  }
}
