/* =MOBILE NAV OVERLAY
--------------------------------------------- */

.nav-overlay {
  $tap-color: #fff;

  // display: none;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: $lineheight 2%;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;

  background-color: $comp-teal-dark;
  color: mix($comp-teal-dark, $dark, 30%);
  text-align: center;
  font-size: 1.4rem;

  .nav--current {
    a {
      color: saturate(mix($comp-teal-dark, #fff, 60%), 20%);
    }
  }

  .nav-overlay__close {
    position: absolute;
    display: inline-block;
    right: 1.5rem;
    height: 2.5rem;
    top: 1.5rem;
    width: 2.5rem;

    &::before,
    &::after {
      content: '';
      height: 2px;
      display: inline-block;
      background-color: #fff;
      width: 2rem;
      position: absolute;
      left: 4px; // #pixelfucking
      top: 17px;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }

    &.tap {
      &::before,
      &::after {
        background-color: $tap-color;
      }
    }
  }

  .navigation__home {
    .icon-text {
      display: inline;
    }
    .icon {
      display: none;
    }
  }

  h2 {
    font: normal .9em/1.5 $sans;
    margin: $lineheight 0;
    text-transform: capitalize;
  }

  ul {
    margin-bottom: $lineheight;
    line-height: 2;
  }

  a {
    color: rgba(#fff, .8);
    display: inline-block;
    transition: transform .1s ease-out,
                color .15s ease-out;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      text-decoration: none;
    }

    &.tap {
      color: $tap-color;
    }
  }
}
