/* =HEADINGS
--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  margin: 0 0 $lineheight / 2;
  font-weight: normal;
}

h1 {
  font-size: to_rem(42);
}

h2 {
  font-size: to_rem(32);
}

h3 {
  font-size: to_rem(24);
}

h4 {
  font-size: to_rem(18);
}

h5 {
  font-size: to_rem(16);
}

h6 {
  font-size: 1rem;
}

@include handheld {

  h1 {
    font-size: to_rem(32);
  }

  h2 {
    font-size: to_rem(22);
  }

  h3 {
    font-size: to_rem(24);
  }

  h4 {
    font-size: to_rem(20);
  }

  h5 {
    font-size: to_rem(18);
  }

  h6 {
    font-size: 1rem;
  }
}
